co_game_designer_agent_specs/co-designer-workflow.json
{
  "name": "co-designer",
  "nodes": [
    {
      "id": "45971721-217e-5c07-8149-669d593e619c",
      "name": "lm__creativity_generator_agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        120
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5",
          "cachedResultName": "gpt-5"
        },
        "options": {
          "reasoningEffort": "medium",
          "timeout": 300000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "1lkBcOr7FVmY5bn6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "2f2fad36-2e6c-5edd-bbde-8dabaee0c32b",
      "name": "parser__creativity_generator_agent",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        240
      ],
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"Creativity Generator Agent Output\",\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"divergentAxes\": {\n      \"default\": [],\n      \"description\": \"Short labels describing how the idea seeds explore different directions.\",\n      \"examples\": [\n        [\n          \"Economy risk-reward\",\n          \"Discard loop disruption\",\n          \"Endless scaling cap\"\n        ]\n      ],\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"type\": \"array\"\n    },\n    \"ideaSeeds\": {\n      \"default\": [],\n      \"description\": \"Concept seeds ready for downstream analysis.\",\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"conceptPitch\": {\n            \"description\": \"One-paragraph pitch explaining the core gameplay hook.\",\n            \"examples\": [\n              \"Reward late-hand discards by caching unused mult for the boss blind.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"expectedPlaystyle\": {\n            \"description\": \"How the player will pilot the deck when this joker is active.\",\n            \"examples\": [\n              \"Aggressive discard cycling with selective hand banking.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"handoffNotes\": {\n            \"description\": \"Instructions or questions for downstream specialists.\",\n            \"examples\": [\n              \"Check balance impact if mult cache scales into endless.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"ideaId\": {\n            \"description\": \"Stable identifier used across the design workflow.\",\n            \"examples\": [\n              \"IDEA-01\"\n            ],\n            \"type\": \"string\"\n          },\n          \"noveltyHook\": {\n            \"description\": \"What makes this concept distinct from existing jokers.\",\n            \"examples\": [\n              \"Creates a delayed scoring window tied to discard restraint.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"primaryMechanics\": {\n            \"default\": [],\n            \"description\": \"Key mechanics or triggers leveraged by the concept.\",\n            \"examples\": [\n              [\n                \"discard\",\n                \"boss blind\",\n                \"mult cache\"\n              ]\n            ],\n            \"items\": {\n              \"type\": \"string\"\n            },\n            \"type\": \"array\"\n          },\n          \"referenceJokers\": {\n            \"default\": [],\n            \"description\": \"Existing jokers or effects serving as inspiration or contrast.\",\n            \"examples\": [\n              [\n                \"Gros Michel\",\n                \"Banner\"\n              ]\n            ],\n            \"items\": {\n              \"type\": \"string\"\n            },\n            \"type\": \"array\"\n          },\n          \"riskFlags\": {\n            \"default\": [],\n            \"description\": \"Potential risks or unknowns to investigate.\",\n            \"examples\": [\n              [\n                \"Mult cache might stack with Gros Michel for runaway scoring\"\n              ]\n            ],\n            \"items\": {\n              \"type\": \"string\"\n            },\n            \"type\": \"array\"\n          },\n          \"targetRarity\": {\n            \"description\": \"Suggested rarity to match power level and availability.\",\n            \"enum\": [\n              \"common\",\n              \"uncommon\",\n              \"rare\",\n              \"legendary\"\n            ],\n            \"examples\": [\n              \"rare\"\n            ],\n            \"type\": \"string\"\n          },\n          \"title\": {\n            \"description\": \"Working name for the concept seed.\",\n            \"examples\": [\n              \"Cache King\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"conceptPitch\",\n          \"expectedPlaystyle\",\n          \"handoffNotes\",\n          \"ideaId\",\n          \"noveltyHook\",\n          \"primaryMechanics\",\n          \"referenceJokers\",\n          \"riskFlags\",\n          \"targetRarity\",\n          \"title\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    },\n    \"ideationSummary\": {\n      \"description\": \"Narrative summary of the opportunity space and recommended focus.\",\n      \"examples\": [\n        \"Discard control has openings for delayed mult payouts without breaking ante pacing.\"\n      ],\n      \"type\": \"string\"\n    },\n    \"inspirationSources\": {\n      \"default\": [],\n      \"description\": \"Artifacts, research, or existing jokers referenced during ideation.\",\n      \"examples\": [\n        [\n          {\n            \"description\": \"Banner highlights discard reward patterns relevant to Cache King.\",\n            \"link\": \"co_game_designer_agent_specs/all_jokers.md#22\",\n            \"sourceId\": \"joker-banner\",\n            \"type\": \"joker\"\n          }\n        ]\n      ],\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"description\": {\n            \"description\": \"Why the source matters for this concept.\",\n            \"examples\": [\n              \"Week 31 metagame notes show discard decks underperforming.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"link\": {\n            \"description\": \"Optional path or URL for deeper reference.\",\n            \"examples\": [\n              \"experiments/discard_meta/week31.md\"\n            ],\n            \"type\": \"string\"\n          },\n          \"sourceId\": {\n            \"description\": \"Unique identifier for the source.\",\n            \"examples\": [\n              \"joker-banner\"\n            ],\n            \"type\": \"string\"\n          },\n          \"type\": {\n            \"description\": \"Category of the source such as joker, research, or anecdote.\",\n            \"examples\": [\n              \"joker\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"description\",\n          \"sourceId\",\n          \"type\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    },\n    \"openQuestions\": {\n      \"default\": [],\n      \"description\": \"Clarifications or decisions required before moving forward.\",\n      \"examples\": [\n        [\n          \"Confirm if endless scaling is allowed for discard archetypes.\"\n        ]\n      ],\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"type\": \"array\"\n    }\n  },\n  \"required\": [\n    \"divergentAxes\",\n    \"ideaSeeds\",\n    \"ideationSummary\",\n    \"inspirationSources\",\n    \"openQuestions\"\n  ]\n}"
      }
    },
    {
      "id": "5589712a-0fa3-5a27-811c-2bbf33c9e2fe",
      "name": "creativity_generator_agent",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        320,
        240
      ],
      "parameters": {
        "hasOutputParser": true,
        "options": {},
        "text": "=You generate Balatro joker concept seeds for early ideation.\nStudy the lead designer brief and capture core fantasy, constraints, and banned elements.\nUse this Balatro Joker catalog to avoid clones and cite nearest comparables:\n1 Joker: +4 Mult\n         cost $2 | rarity Common | availability Available from start\n         type +m | trigger Indep.\n\n2 Greedy Joker: Played cards with \u2666 give +3 Mult when scored\n                cost $5 | rarity Common | availability Available from start\n                type +m | trigger On Scored\n\n3 Lusty Joker: Played cards with \u2665 give +3 Mult when scored\n               cost $5 | rarity Common | availability Available from start\n               type +m | trigger On Scored\n\n4 Wrathful Joker: Played cards with \u2660 give +3 Mult when scored\n                  cost $5 | rarity Common | availability Available from start\n                  type +m | trigger On Scored\n\n5 Gluttonous Joker: Played cards with \u2663 give +3 Mult when scored\n                    cost $5 | rarity Common | availability Available from start\n                    type +m | trigger On Scored\n\n6 Jolly Joker: +8 Mult if played hand contains a Pair\n               cost $3 | rarity Common | availability Available from start\n               type +m | trigger Indep.\n\n7 Zany Joker: +12 Mult if played hand contains a Three of a Kind\n              cost $4 | rarity Common | availability Available from start\n              type +m | trigger Indep.\n\n8 Mad Joker: +10 Mult if played hand contains a Two Pair\n             cost $4 | rarity Common | availability Available from start\n             type +m | trigger Indep.\n\n9 Crazy Joker: +12 Mult if played hand contains a Straight\n               cost $4 | rarity Common | availability Available from start\n               type +m | trigger Indep.\n\n10 Droll Joker: +10 Mult if played hand contains a Flush\n                cost $4 | rarity Common | availability Available from start\n                type +m | trigger Indep.\n\n11 Sly Joker: +50 Chips if played hand contains a Pair\n              cost $3 | rarity Common | availability Available from start\n              type +c | trigger Indep.\n\n12 Wily Joker: +100 Chips if played hand contains a Three of a Kind\n               cost $4 | rarity Common | availability Available from start\n               type +c | trigger Indep.\n\n13 Clever Joker: +80 Chips if played hand contains a Two Pair\n                 cost $4 | rarity Common | availability Available from start\n                 type +c | trigger Indep.\n\n14 Devious Joker: +100 Chips if played hand contains a Straight\n                  cost $4 | rarity Common | availability Available from start\n                  type +c | trigger Indep.\n\n15 Crafty Joker: +80 Chips if played hand contains a Flush\n                 cost $4 | rarity Common | availability Available from start\n                 type +c | trigger Indep.\n\n16 Half Joker: +20 Mult if played hand contains 3 or fewer cards\n               cost $5 | rarity Common | availability Available from start\n               type +m | trigger Indep.\n\n17 Joker Stencil: X1 Mult for each empty Joker slot\n                  cost $8 | rarity Uncommon | availability Available from start\n                  type Xm | trigger Indep.\n\n18 Four Fingers: All Flushes and Straights can be made with 4 cards\n                 cost $7 | rarity Uncommon | availability Available from start\n                 type !! | trigger N/A\n\n19 Mime: Retrigger all card held in hand abilities\n         cost $5 | rarity Uncommon | availability Available from start\n         type ... | trigger On Held\n\n20 Credit Card: Go up to -$20 in debt\n                cost $1 | rarity Common | availability Available from start\n                type +$ | trigger N/A\n\n21 Ceremonial Dagger: When Blind is selected, destroy Joker to the right and permanently add double its sell value to\n                      Mult\n                      cost $6 | rarity Uncommon | availability Available from start\n                      type +m | trigger Indep.\n\n22 Banner: +30 Chips for each remaining discard\n           cost $5 | rarity Common | availability Available from start\n           type +c | trigger Indep.\n\n23 Mystic Summit: +15 Mult when 0 discards remaining\n                  cost $5 | rarity Common | availability Available from start\n                  type +m | trigger Indep.\n\n24 Marble Joker: Adds one Stone card to the deck when Blind is selected\n                 cost $6 | rarity Uncommon | availability Available from start\n                 type !! | trigger On Blind Select\n\n25 Loyalty Card: X4 Mult every 6 hands played\n                 cost $5 | rarity Uncommon | availability Available from start\n                 type Xm | trigger Indep.\n\n26 8 Ball: 1 in 4 chance for each played 8 to create a Tarot card when scored\n           cost $5 | rarity Common | availability Available from start\n           type !! | trigger On Scored\n\n27 Misprint: +0\u201323 Mult\n             cost $4 | rarity Common | availability Available from start\n             type +m | trigger Indep.\n\n28 Dusk: Retrigger all played cards in final hand of the round\n         cost $5 | rarity Uncommon | availability Available from start\n         type ... | trigger On Scored\n\n29 Raised Fist: Adds double the rank of lowest ranked card held in hand to Mult\n                cost $5 | rarity Common | availability Available from start\n                type +m | trigger On Held\n\n30 Chaos the Clown: 1 free Reroll per shop\n                    cost $4 | rarity Common | availability Available from start\n                    type !! | trigger N/A\n\n31 Fibonacci: Each played Ace, 2, 3, 5, or 8 gives +8 Mult when scored\n              cost $8 | rarity Uncommon | availability Available from start\n              type +m | trigger On Scored\n\n32 Steel Joker: Gives X0.2 Mult for each Steel Card in your full deck\n                cost $7 | rarity Uncommon | availability Available from start\n                type Xm | trigger Indep.\n\n33 Scary Face: Played face cards give +30 Chips when scored\n               cost $4 | rarity Common | availability Available from start\n               type +c | trigger On Scored\n\n34 Abstract Joker: +3 Mult for each Joker card\n                   cost $4 | rarity Common | availability Available from start\n                   type +m | trigger Indep.\n\n35 Delayed Gratification: Earn $2 per discard if no discards are used by end of the round\n                          cost $4 | rarity Common | availability Available from start\n                          type +$ | trigger N/A\n\n36 Hack: Retrigger each played 2, 3, 4, or 5\n         cost $6 | rarity Uncommon | availability Available from start\n         type ... | trigger On Scored\n\n37 Pareidolia: All cards are considered face cards\n               cost $5 | rarity Uncommon | availability Available from start\n               type !! | trigger N/A\n\n38 Gros Michel: +15 Mult, 1 in 6 chance to be destroyed at end of round\n                cost $5 | rarity Common | availability Available from start\n                type +m | trigger Indep.\n\n39 Even Steven: Played cards with even rank give +4 Mult when scored\n                cost $4 | rarity Common | availability Available from start\n                type +m | trigger On Scored\n\n40 Odd Todd: Played cards with odd rank give +31 Chips when scored\n             cost $4 | rarity Common | availability Available from start\n             type +c | trigger On Scored\n\n41 Scholar: Played Aces give +20 Chips and +4 Mult when scored\n            cost $4 | rarity Common | availability Available from start\n            type ++ | trigger On Scored\n\n42 Business Card: Played face cards have 1 in 2 chance to give $2 when scored\n                  cost $4 | rarity Common | availability Available from start\n                  type +$ | trigger On Scored\n\n43 Supernova: Adds number of times poker hand has been played this run to Mult\n              cost $5 | rarity Common | availability Available from start\n              type +m | trigger Indep.\n\n44 Ride the Bus: Gains +1 Mult per consecutive hand played without a scoring face card\n                 cost $6 | rarity Common | availability Available from start\n                 type +m | trigger Mixed\n\n45 Space Joker: 1 in 4 chance to upgrade level of played poker hand\n                cost $5 | rarity Uncommon | availability Available from start\n                type !! | trigger On Played\n\n46 Egg: Gains $3 of sell value at end of round\n        cost $4 | rarity Common | availability Available from start\n        type +$ | trigger N/A\n\n47 Burglar: When Blind is selected, gain +3 Hands and lose all discards\n            cost $6 | rarity Uncommon | availability Available from start\n            type !! | trigger On Blind Select\n\n48 Blackboard: X3 Mult if all cards held in hand are \u2660 or \u2663\n               cost $6 | rarity Uncommon | availability Available from start\n               type Xm | trigger Indep.\n\n49 Runner: Gains +15 Chips if played hand contains a Straight\n           cost $5 | rarity Common | availability Available from start\n           type +c | trigger Mixed\n\n50 Ice Cream: +100 Chips, -5 Chips for every hand played\n              cost $5 | rarity Common | availability Available from start\n              type +c | trigger Indep.\n\n51 DNA: If first hand of round has only 1 card, add a permanent copy to deck and draw it to hand\n        cost $8 | rarity Rare | availability Available from start\n        type !! | trigger On Played\n\n52 Splash: Every played card counts in scoring\n           cost $3 | rarity Common | availability Available from start\n           type !! | trigger N/A\n\n53 Blue Joker: +2 Chips for each remaining card in deck\n               cost $5 | rarity Common | availability Available from start\n               type +c | trigger Indep.\n\n54 Sixth Sense: If first hand of round is a single 6, destroy it and create a Spectral card\n                cost $6 | rarity Uncommon | availability Available from start\n                type !! | trigger N/A\n\n55 Constellation: Gains X0.1 Mult every time a Planet card is used\n                  cost $6 | rarity Uncommon | availability Available from start\n                  type Xm | trigger Indep.\n\n56 Hiker: Every played card permanently gains +5 Chips when scored\n          cost $5 | rarity Uncommon | availability Available from start\n          type +c | trigger On Scored\n\n57 Faceless Joker: Earn $5 if 3+ face cards are discarded at once\n                   cost $4 | rarity Common | availability Available from start\n                   type +$ | trigger On Discard\n\n58 Green Joker: +1 Mult per hand played, -1 Mult per discard\n                cost $4 | rarity Common | availability Available from start\n                type +m | trigger Mixed\n\n59 Superposition: Create a Tarot card if poker hand contains an Ace and a Straight\n                  cost $4 | rarity Common | availability Available from start\n                  type !! | trigger Indep.\n\n60 To Do List: Earn $4 if poker hand is a listed type, changes each round\n               cost $4 | rarity Common | availability Available from start\n               type +$ | trigger On Played\n\n61 Cavendish: X3 Mult, 1 in 1000 chance to be destroyed at end of round\n              cost $4 | rarity Common | availability Available from start\n              type Xm | trigger Indep.\n\n62 Card Sharp: X3 Mult if played poker hand was already played this round\n               cost $6 | rarity Uncommon | availability Available from start\n               type Xm | trigger Indep.\n\n63 Red Card: Gains +3 Mult when any Booster Pack is skipped\n             cost $5 | rarity Common | availability Available from start\n             type +m | trigger Indep.\n\n64 Madness: Gain X0.5 Mult when Small/Big Blind selected, destroy random Joker\n            cost $7 | rarity Uncommon | availability Available from start\n            type Xm | trigger Indep.\n\n65 Square Joker: Gains +4 Chips if played hand has exactly 4 cards\n                 cost $4 | rarity Common | availability Available from start\n                 type +c | trigger Mixed\n\n66 S\u00e9ance: If poker hand is a Straight Flush, create a random Spectral card\n           cost $6 | rarity Uncommon | availability Available from start\n           type !! | trigger Indep.\n\n67 Riff-Raff: When Blind is selected, create 2 Common Jokers\n              cost $6 | rarity Common | availability Available from start\n              type !! | trigger On Blind Select\n\n68 Vampire: Gains X0.1 Mult per scoring Enhanced card played, removes enhancement\n            cost $7 | rarity Uncommon | availability Available from start\n            type Xm | trigger Mixed\n\n69 Shortcut: Allows Straights with gaps of 1 rank (e.g. 10\u20138\u20136\u20135\u20133)\n             cost $7 | rarity Uncommon | availability Available from start\n             type !! | trigger N/A\n\n70 Hologram: Gains X0.25 Mult every time a card is added to deck\n             cost $7 | rarity Uncommon | availability Available from start\n             type Xm | trigger Indep.\n\n71 Vagabond: Create a Tarot card if hand is played with $4 or less\n             cost $8 | rarity Rare | availability Available from start\n             type !! | trigger Indep.\n\n72 Baron: Each King held in hand gives X1.5 Mult\n          cost $8 | rarity Rare | availability Available from start\n          type Xm | trigger On Held\n\n73 Cloud 9: Earn $1 for each 9 in full deck at end of round\n            cost $7 | rarity Uncommon | availability Available from start\n            type +$ | trigger N/A\n\n74 Rocket: Earn $1 at end of round, +$2 when Boss Blind defeated\n           cost $6 | rarity Uncommon | availability Available from start\n           type +$ | trigger N/A\n\n75 Obelisk: Gains X0.2 Mult per consecutive hand without using most-played hand\n            cost $8 | rarity Rare | availability Available from start\n            type Xm | trigger Mixed\n\n76 Midas Mask: All played face cards become Gold cards when scored\n               cost $7 | rarity Uncommon | availability Available from start\n               type !! | trigger On Played\n\n77 Luchador: Sell this card to disable current Boss Blind\n             cost $5 | rarity Uncommon | availability Available from start\n             type !! | trigger N/A\n\n78 Photograph: First played face card gives X2 Mult when scored\n               cost $5 | rarity Common | availability Available from start\n               type Xm | trigger On Scored\n\n79 Gift Card: Add $1 of sell value to all Jokers and Consumables each round\n              cost $6 | rarity Uncommon | availability Available from start\n              type +$ | trigger N/A\n\n80 Turtle Bean: +5 hand size, reduces by 1 each round\n                cost $6 | rarity Uncommon | availability Available from start\n                type !! | trigger N/A\n\n81 Erosion: +4 Mult for each card below deck\u2019s starting size\n            cost $6 | rarity Uncommon | availability Available from start\n            type +m | trigger Indep.\n\n82 Reserved Parking: Each face card held has 1 in 2 chance to give $1\n                     cost $6 | rarity Common | availability Available from start\n                     type +$ | trigger On Held\n\n83 Mail-In Rebate: Earn $5 for each discarded rank, changes each round\n                   cost $4 | rarity Common | availability Available from start\n                   type +$ | trigger On Discard\n\n84 To the Moon: Earn +$1 interest for every $5 owned at end of round\n                cost $5 | rarity Uncommon | availability Available from start\n                type +$ | trigger N/A\n\n85 Hallucination: 1 in 2 chance to create Tarot card when any Booster Pack opened\n                  cost $4 | rarity Common | availability Available from start\n                  type !! | trigger N/A\n\n86 Fortune Teller: +1 Mult per Tarot card used this run\n                   cost $6 | rarity Common | availability Available from start\n                   type +m | trigger Indep.\n\n87 Juggler: +1 hand size\n            cost $4 | rarity Common | availability Available from start\n            type !! | trigger N/A\n\n88 Drunkard: +1 discard per round\n             cost $4 | rarity Common | availability Available from start\n             type !! | trigger N/A\n\n89 Stone Joker: +25 Chips for each Stone Card in deck\n                cost $6 | rarity Uncommon | availability Available from start\n                type +c | trigger Indep.\n\n90 Golden Joker: Earn $4 at end of round\n                 cost $6 | rarity Common | availability Available from start\n                 type +$ | trigger N/A\n\n91 Lucky Cat: Gains X0.25 Mult per successful Lucky card trigger\n              cost $6 | rarity Uncommon | availability Available from start\n              type Xm | trigger Mixed\n\n92 Baseball Card: Uncommon Jokers each give X1.5 Mult\n                  cost $8 | rarity Rare | availability Available from start\n                  type Xm | trigger On Other Jokers\n\n93 Bull: +2 Chips per $1 owned\n         cost $6 | rarity Uncommon | availability Available from start\n         type +c | trigger Indep.\n\n94 Diet Cola: Sell this card to create a free Double Tag\n              cost $6 | rarity Uncommon | availability Available from start\n              type !! | trigger N/A\n\n95 Trading Card: If first discard of round has only 1 card, destroy it and earn $3\n                 cost $6 | rarity Uncommon | availability Available from start\n                 type +$ | trigger On Discard\n\n96 Flash Card: Gains +2 Mult per shop reroll\n               cost $5 | rarity Uncommon | availability Available from start\n               type +m | trigger Indep.\n\n97 Popcorn: +20 Mult, -4 Mult per round played\n            cost $5 | rarity Common | availability Available from start\n            type +m | trigger Indep.\n\n98 Spare Trousers: Gains +2 Mult if hand contains a Two Pair\n                   cost $6 | rarity Uncommon | availability Available from start\n                   type +m | trigger Mixed\n\n99 Ancient Joker: Each played card with suit gives X1.5 Mult, suit changes each round\n                  cost $8 | rarity Rare | availability Available from start\n                  type Xm | trigger On Scored\n\n100 Ramen: X2 Mult, loses X0.01 Mult per card discarded\n           cost $6 | rarity Uncommon | availability Available from start\n           type Xm | trigger Mixed\n\n101 Walkie Talkie: Each played 10 or 4 gives +10 Chips and +4 Mult when scored\n                   cost $4 | rarity Common | availability Available from start\n                   type ++ | trigger On Scored\n\n102 Seltzer: Retrigger all cards played for the next 10 hands\n             cost $6 | rarity Uncommon | availability Available from start\n             type ... | trigger On Scored\n\n103 Castle: Gains +3 Chips per discarded suit, suit changes every round\n            cost $6 | rarity Uncommon | availability Available from start\n            type +c | trigger Mixed\n\n104 Smiley Face: Played face cards give +5 Mult when scored\n                 cost $4 | rarity Common | availability Available from start\n                 type +m | trigger On Scored\n\n105 Campfire: Gains X0.25 Mult for each card sold, resets when Boss Blind defeated\n              cost $9 | rarity Rare | availability Available from start\n              type Xm | trigger Indep.\n\n106 Golden Ticket: Played Gold cards earn $4 when scored\n                   cost $5 | rarity Common | availability Play 5-card hand with only Gold cards\n                   type +$ | trigger On Scored\n\n107 Mr. Bones: Prevents Death if chips \u226525% of requirement, then self-destructs\n               cost $5 | rarity Uncommon | availability Lose 5 runs\n               type !! | trigger N/A\n\n108 Acrobat: X3 Mult on final hand of round\n             cost $6 | rarity Uncommon | availability Play 200 hands\n             type Xm | trigger Indep.\n\n109 Sock and Buskin: Retrigger all played face cards\n                     cost $6 | rarity Uncommon | availability Play 300 face cards total\n                     type ... | trigger On Scored\n\n110 Swashbuckler: Adds sell value of all other Jokers to Mult\n                  cost $4 | rarity Common | availability Sell 20 Joker cards\n                  type +m | trigger Indep.\n\n111 Troubadour: +2 hand size, \u22121 hand per round\n                cost $6 | rarity Uncommon | availability Win 5 rounds using only 1 hand\n                type !! | trigger N/A\n\n112 Certificate: Adds random card with random seal to hand each round\n                 cost $6 | rarity Uncommon | availability Have Gold card with Gold Seal\n                 type !! | trigger N/A\n\n113 Smeared Joker: \u2665 and \u2666 count as same suit; \u2660 and \u2663 count as same suit\n                   cost $7 | rarity Uncommon | availability Have \u22653 Wild cards\n                   type !! | trigger N/A\n\n114 Throwback: X0.25 Mult for each Blind skipped this run\n               cost $6 | rarity Uncommon | availability Continue saved run\n               type Xm | trigger Indep.\n\n115 Hanging Chad: Retrigger first played card used in scoring 2\u00d7\n                  cost $4 | rarity Common | availability Beat Boss Blind with High Card\n                  type ... | trigger On Scored\n\n116 Rough Gem: Played \u2666 cards earn $1 when scored\n               cost $7 | rarity Uncommon | availability Have \u226530 \u2666 cards in deck\n               type +$ | trigger On Scored\n\n117 Bloodstone: 1 in 2 chance for \u2665 cards to give X1.5 Mult when scored\n                cost $7 | rarity Uncommon | availability Have \u226530 \u2665 cards in deck\n                type Xm | trigger On Scored\n\n118 Arrowhead: Played \u2660 cards give +50 Chips when scored\n               cost $7 | rarity Uncommon | availability Have \u226530 \u2660 cards in deck\n               type +c | trigger On Scored\n\n119 Onyx Agate: Played \u2663 cards give +7 Mult when scored\n                cost $7 | rarity Uncommon | availability Have \u226530 \u2663 cards in deck\n                type +m | trigger On Scored\n\n120 Glass Joker: Gains X0.75 Mult for every destroyed Glass Card\n                 cost $6 | rarity Uncommon | availability Have \u22655 Glass Cards in deck\n                 type Xm | trigger Indep.\n\n121 Showman: Joker, Tarot, Planet, and Spectral cards may appear multiple times\n             cost $5 | rarity Uncommon | availability Reach Ante 4\n             type !! | trigger N/A\n\n122 Flower Pot: X3 Mult if hand has all four suits\n                cost $6 | rarity Uncommon | availability Reach Ante 8\n                type Xm | trigger Indep.\n\n123 Blueprint: Copies ability of Joker to the right\n               cost $10 | rarity Rare | availability Win a run\n               type !! | trigger N/A\n\n124 Wee Joker: Gains +8 Chips when each played 2 is scored\n               cost $8 | rarity Rare | availability Win a run in \u226418 rounds\n               type +c | trigger Mixed\n\n125 Merry Andy: +3 discards per round, \u22121 hand size\n                cost $7 | rarity Uncommon | availability Win a run in \u226412 rounds\n                type !! | trigger N/A\n\n126 Oops! All 6s: Doubles all listed probabilities (e.g., 1/3 \u2192 2/3)\n                  cost $4 | rarity Uncommon | availability Earn \u226510,000 chips in one hand\n                  type !! | trigger N/A\n\n127 The Idol: Each played [rank][suit] gives X2 Mult when scored (changes each round)\n              cost $6 | rarity Uncommon | availability Earn \u22651,000,000 chips in one hand\n              type Xm | trigger On Scored\n\n128 Seeing Double: X2 Mult if hand has a scoring \u2663 and another suit\n                   cost $6 | rarity Uncommon | availability Play a hand with four 7\u2663\n                   type Xm | trigger Indep.\n\n129 Matador: Earn $8 if hand triggers Boss Blind ability\n             cost $7 | rarity Uncommon | availability Defeat Boss Blind in 1 hand w/o discards\n             type +$ | trigger Indep.\n\n130 Hit the Road: Gains X0.5 Mult for every Jack discarded this round\n                  cost $8 | rarity Rare | availability Discard 5 Jacks at once\n                  type Xm | trigger Mixed\n\n131 The Duo: X2 Mult if hand contains a Pair\n             cost $8 | rarity Rare | availability Win a run without playing a Pair\n             type Xm | trigger Indep.\n\n132 The Trio: X3 Mult if hand contains a Three of a Kind\n              cost $8 | rarity Rare | availability Win a run without playing a Three of a Kind\n              type Xm | trigger Indep.\n\n133 The Family: X4 Mult if hand contains a Four of a Kind\n                cost $8 | rarity Rare | availability Win a run without playing a Four of a Kind\n                type Xm | trigger Indep.\n\n134 The Order: X3 Mult if hand contains a Straight\n               cost $8 | rarity Rare | availability Win a run without playing a Straight\n               type Xm | trigger Indep.\n\n135 The Tribe: X2 Mult if hand contains a Flush\n               cost $8 | rarity Rare | availability Win a run without playing a Flush\n               type Xm | trigger Indep.\n\n136 Stuntman: +250 Chips, \u22122 hand size\n              cost $7 | rarity Rare | availability Earn \u2265100M chips in a single hand\n              type +c | trigger Indep.\n\n137 Invisible Joker: After 2 rounds, sell to duplicate a random Joker (removes Negative)\n                     cost $8 | rarity Rare | availability Win a game with \u22644 Jokers\n                     type !! | trigger N/A\n\n138 Brainstorm: Copies ability of leftmost Joker\n                cost $10 | rarity Rare | availability Discard a Royal Flush\n                type !! | trigger N/A\n\n139 Satellite: Earn $1 per unique Planet card used this run\n               cost $6 | rarity Uncommon | availability Have \u2265$400\n               type +$ | trigger N/A\n\n140 Shoot the Moon: Each Queen held gives +13 Mult\n                    cost $5 | rarity Common | availability Play every \u2665 card in one round\n                    type +m | trigger On Held\n\n141 Driver\u2019s License: X3 Mult if \u226516 Enhanced cards in deck\n                      cost $7 | rarity Rare | availability Enhance 16 cards in deck\n                      type Xm | trigger Indep.\n\n142 Cartomancer: Create a Tarot card when Blind is selected\n                 cost $6 | rarity Uncommon | availability Discover every Tarot Card\n                 type !! | trigger On Blind Select\n\n143 Astronomer: All Planet cards and Celestial Packs are free\n                cost $8 | rarity Uncommon | availability Discover all Planet Cards\n                type !! | trigger N/A\n\n144 Burnt Joker: Upgrade level of first discarded poker hand each round\n                 cost $8 | rarity Rare | availability Sell 50 cards\n                 type !! | trigger On Discard\n\n145 Bootstraps: +2 Mult for every $5 owned\n                cost $7 | rarity Uncommon | availability Have \u22652 Polychrome Jokers\n                type +m | trigger Indep.\n\n146 Canio: Gains X1 Mult when a face card is destroyed\n           cost \u2014 | rarity Legendary | availability Found via Soul card\n           type Xm | trigger Mixed\n\n147 Triboulet: Played Kings and Queens each give X2 Mult when scored\n               cost \u2014 | rarity Legendary | availability Found via Soul card\n               type Xm | trigger On Scored\n\n148 Yorick: Gains X1 Mult every 23 cards discarded\n            cost \u2014 | rarity Legendary | availability Found via Soul card\n            type Xm | trigger Mixed\n\n149 Chicot: Disables every Boss Blind effect\n            cost \u2014 | rarity Legendary | availability Found via Soul card\n            type !! | trigger On Blind Select\n\n150 Perkeo: Creates Negative copy of 1 random consumable at end of shop\n            cost \u2014 | rarity Legendary | availability Found via Soul card\n            type !! | trigger N/A\nProduce 3-5 ideaSeeds with ideaId, title, conceptPitch, noveltyHook, targetRarity, expectedPlaystyle, handoffNotes.\nList primaryMechanics, referenceJokers, and riskFlags arrays for each seed; use [] when empty.\nSummarize divergentAxes to explain how the seeds explore distinct creative directions.\nDocument inspirationSources with sourceId, type, description, and optional link entries.\nState an ideationSummary plus openQuestions that unblock downstream agents.\nReturn a single JSON object per schemas/creativity_generator_agent.json. Do not add commentary or fences.\n\nUser request:\n{{ $fromAI('Prompt__User_Message_', ``, 'string') }}\n",
        "toolDescription": "Generates divergent Balatro joker concept seeds for early-stage design briefs."
      }
    },
    {
      "id": "82518411-b5a5-55cc-9336-0681e95c2005",
      "name": "lm__joker_synergy_specialist_agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        360
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5",
          "cachedResultName": "gpt-5"
        },
        "options": {
          "reasoningEffort": "medium",
          "maxTokens": -1,
          "timeout": 300000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "1lkBcOr7FVmY5bn6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "69490301-338b-5e45-b896-faeb8bc76e87",
      "name": "parser__joker_synergy_specialist_agent",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        480
      ],
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"Joker Synergy Specialist Agent Output\",\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"globalObservations\": {\n      \"default\": [],\n      \"description\": \"High-level notes about the joker concept and metagame context.\",\n      \"examples\": [\n        \"Discard-focused decks lack payoff unless paired with piston jokers.\"\n      ],\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"type\": \"array\"\n    },\n    \"risks\": {\n      \"default\": [],\n      \"description\": \"Potential pitfalls or incompatibilities discovered during the analysis.\",\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"description\": {\n            \"description\": \"What could go wrong if the package is adopted.\",\n            \"examples\": [\n              \"Stacking with Madness joker doubles the multiplier curve.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"mitigation\": {\n            \"description\": \"Suggested guardrail or monitoring plan.\",\n            \"examples\": [\n              \"Cap base chips at 40 when paired with Madness.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"riskId\": {\n            \"description\": \"Identifier for cross-agent traceability.\",\n            \"examples\": [\n              \"risk-madness-overlap\"\n            ],\n            \"type\": \"string\"\n          },\n          \"severity\": {\n            \"description\": \"Relative severity label.\",\n            \"enum\": [\n              \"low\",\n              \"medium\",\n              \"high\"\n            ],\n            \"examples\": [\n              \"high\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"description\",\n          \"mitigation\",\n          \"riskId\",\n          \"severity\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    },\n    \"summary\": {\n      \"description\": \"One-paragraph synthesis of the joker synergy landscape.\",\n      \"examples\": [\n        \"Discard engines gain the most, provided economy levers offset the multiplier spike.\"\n      ],\n      \"type\": \"string\"\n    },\n    \"supportingResearch\": {\n      \"default\": [],\n      \"description\": \"Pointers to experiments, spreadsheets, or references used in the analysis.\",\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"description\": {\n            \"description\": \"Why the source matters for this recommendation.\",\n            \"examples\": [\n              \"Win-rate logs from week 34 patch.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"link\": {\n            \"description\": \"Optional URL or file path if accessible.\",\n            \"examples\": [\n              \"experiments/synergy_runs/week34.md\"\n            ],\n            \"type\": \"string\"\n          },\n          \"sourceId\": {\n            \"description\": \"Unique identifier for the research artifact.\",\n            \"examples\": [\n              \"exp-34-discard-logs\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"description\",\n          \"sourceId\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    },\n    \"synergyPackages\": {\n      \"default\": [],\n      \"description\": \"Ranked synergy packages with quantitative expectations.\",\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"description\": {\n            \"description\": \"How the synergy behaves and what gameplay it unlocks.\",\n            \"examples\": [\n              \"Chain discards with Flush House to convert draw cycles into chip bursts.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"enablingCards\": {\n            \"default\": [],\n            \"description\": \"Cards, jokers, or consumables required to realize the package.\",\n            \"items\": {\n              \"type\": \"string\"\n            },\n            \"type\": \"array\"\n          },\n          \"expectedChips\": {\n            \"description\": \"Expected chip gain by ante 6 under optimal play.\",\n            \"examples\": [\n              280\n            ],\n            \"minimum\": 0,\n            \"type\": \"number\"\n          },\n          \"expectedMultiplier\": {\n            \"description\": \"Expected multiplier value by ante 6.\",\n            \"examples\": [\n              18\n            ],\n            \"minimum\": 0,\n            \"type\": \"number\"\n          },\n          \"name\": {\n            \"description\": \"Short name for the synergy package.\",\n            \"examples\": [\n              \"Discard Dynamo\"\n            ],\n            \"type\": \"string\"\n          },\n          \"packageId\": {\n            \"description\": \"Stable identifier used by the orchestrator when referencing this package.\",\n            \"examples\": [\n              \"SP-02\"\n            ],\n            \"type\": \"string\"\n          },\n          \"rarityFit\": {\n            \"description\": \"Best-fit joker rarity for balance.\",\n            \"enum\": [\n              \"common\",\n              \"uncommon\",\n              \"rare\",\n              \"legendary\"\n            ],\n            \"examples\": [\n              \"rare\"\n            ],\n            \"type\": \"string\"\n          },\n          \"setupSequence\": {\n            \"default\": [],\n            \"description\": \"Ordered steps or milestones to assemble the synergy.\",\n            \"items\": {\n              \"type\": \"string\"\n            },\n            \"type\": \"array\"\n          },\n          \"tuningNotes\": {\n            \"description\": \"Suggestions to tweak numbers or effects for this package.\",\n            \"examples\": [\n              \"Limit joker activation to once per round.\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"description\",\n          \"enablingCards\",\n          \"expectedChips\",\n          \"expectedMultiplier\",\n          \"name\",\n          \"packageId\",\n          \"rarityFit\",\n          \"setupSequence\",\n          \"tuningNotes\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    }\n  },\n  \"required\": [\n    \"globalObservations\",\n    \"risks\",\n    \"summary\",\n    \"supportingResearch\",\n    \"synergyPackages\"\n  ]\n}"
      }
    },
    {
      "id": "fbd5c62c-eca8-5a2d-9c56-70229abadc07",
      "name": "joker_synergy_specialist_agent",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        320,
        480
      ],
      "parameters": {
        "hasOutputParser": true,
        "options": {},
        "text": "=You evaluate Balatro joker concepts for synergy potential.\nRead the orchestrator brief, honoring banned components and desired archetypes.\nRank synergy packages with packageId, name, description, rarity fit, enabling cards, setup sequence, and tuning notes.\nProvide expected chip and multiplier values by ante 6 and highlight fragile interactions.\nList global observations, high-severity risks with mitigations, and any supporting research references.\nReturn a single JSON object. Do not include commentary or code fences.\n\nUser request:\n{{ $fromAI('Prompt__User_Message_', ``, 'string') }}\n",
        "toolDescription": "Ranks Balatro joker synergies, quantifies outputs, and surfaces interaction risks."
      }
    },
    {
      "id": "f73bd46c-5308-5ca7-95b3-c1b654c27313",
      "name": "lm__run_balance_simulator_agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        600
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5",
          "cachedResultName": "gpt-5"
        },
        "options": {
          "timeout": 300000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "1lkBcOr7FVmY5bn6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "5db6eaa1-9df4-54f6-9d89-5fa1f1ebaa9e",
      "name": "parser__run_balance_simulator_agent",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        720
      ],
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"Run Balance Simulator Agent Output\",\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"balanceVerdict\": {\n      \"description\": \"Overall statement about balance health across simulated runs.\",\n      \"examples\": [\n        \"Playable with mitigation; busted seeds exceed multiplier targets by ante 7.\"\n      ],\n      \"type\": \"string\"\n    },\n    \"mitigationIdeas\": {\n      \"default\": [],\n      \"description\": \"Recommended levers or follow-up actions based on simulation findings.\",\n      \"examples\": [\n        \"Add escalating shop cost after first purchase\"\n      ],\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"type\": \"array\"\n    },\n    \"scenarioReports\": {\n      \"default\": [],\n      \"description\": \"Per-scenario metrics and risk summaries.\",\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"anteProgression\": {\n            \"default\": [],\n            \"description\": \"Key milestones or breakpoints observed by ante.\",\n            \"examples\": [\n              [\n                {\n                  \"ante\": 2,\n                  \"note\": \"Economy stable\"\n                },\n                {\n                  \"ante\": 5,\n                  \"note\": \"Chip spike begins\"\n                }\n              ]\n            ],\n            \"items\": {\n              \"additionalProperties\": false,\n              \"properties\": {\n                \"ante\": {\n                  \"description\": \"Ante number for the observation.\",\n                  \"examples\": [\n                    5\n                  ],\n                  \"minimum\": 1,\n                  \"type\": \"integer\"\n                },\n                \"note\": {\n                  \"description\": \"What happens at this ante milestone.\",\n                  \"examples\": [\n                    \"Player reliably clears blinds with 2 hands.\"\n                  ],\n                  \"type\": \"string\"\n                }\n              },\n              \"required\": [\n                \"ante\",\n                \"note\"\n              ],\n              \"type\": \"object\"\n            },\n            \"type\": \"array\"\n          },\n          \"chipTrajectory\": {\n            \"default\": [],\n            \"description\": \"Estimated chip outputs per ante for the scenario.\",\n            \"examples\": [\n              [\n                {\n                  \"ante\": 3,\n                  \"chips\": 120\n                },\n                {\n                  \"ante\": 6,\n                  \"chips\": 320\n                }\n              ]\n            ],\n            \"items\": {\n              \"additionalProperties\": false,\n              \"properties\": {\n                \"ante\": {\n                  \"description\": \"Ante at which the chip estimate applies.\",\n                  \"examples\": [\n                    6\n                  ],\n                  \"minimum\": 1,\n                  \"type\": \"integer\"\n                },\n                \"chips\": {\n                  \"description\": \"Estimated chip output for a typical winning hand.\",\n                  \"examples\": [\n                    280\n                  ],\n                  \"minimum\": 0,\n                  \"type\": \"number\"\n                }\n              },\n              \"required\": [\n                \"ante\",\n                \"chips\"\n              ],\n              \"type\": \"object\"\n            },\n            \"type\": \"array\"\n          },\n          \"economySummary\": {\n            \"description\": \"Overview of money flow, shop purchases, and scarcity pressures.\",\n            \"examples\": [\n              \"Baseline survives with 12$ buffer; busted run prints infinite cash via coupon loop.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"multiplierTrajectory\": {\n            \"default\": [],\n            \"description\": \"Estimated multiplier values per ante.\",\n            \"examples\": [\n              [\n                {\n                  \"ante\": 4,\n                  \"multiplier\": 9\n                },\n                {\n                  \"ante\": 7,\n                  \"multiplier\": 22\n                }\n              ]\n            ],\n            \"items\": {\n              \"additionalProperties\": false,\n              \"properties\": {\n                \"ante\": {\n                  \"description\": \"Ante at which the multiplier applies.\",\n                  \"examples\": [\n                    7\n                  ],\n                  \"minimum\": 1,\n                  \"type\": \"integer\"\n                },\n                \"multiplier\": {\n                  \"description\": \"Estimated multiplier for the scenario.\",\n                  \"examples\": [\n                    18\n                  ],\n                  \"minimum\": 0,\n                  \"type\": \"number\"\n                }\n              },\n              \"required\": [\n                \"ante\",\n                \"multiplier\"\n              ],\n              \"type\": \"object\"\n            },\n            \"type\": \"array\"\n          },\n          \"probabilityEstimate\": {\n            \"description\": \"Rough likelihood of assembling the scenario conditions.\",\n            \"examples\": [\n              \"moderate\"\n            ],\n            \"enum\": [\n              \"low\",\n              \"moderate\",\n              \"high\"\n            ],\n            \"type\": \"string\"\n          },\n          \"riskNotes\": {\n            \"default\": [],\n            \"description\": \"Risks or anomalies observed in the scenario.\",\n            \"examples\": [\n              [\n                \"Multiplier snowballs if Madness also present\"\n              ]\n            ],\n            \"items\": {\n              \"type\": \"string\"\n            },\n            \"type\": \"array\"\n          },\n          \"scenarioName\": {\n            \"description\": \"Descriptor for the simulated scenario.\",\n            \"examples\": [\n              \"Baseline discard deck\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"anteProgression\",\n          \"chipTrajectory\",\n          \"economySummary\",\n          \"multiplierTrajectory\",\n          \"probabilityEstimate\",\n          \"riskNotes\",\n          \"scenarioName\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    },\n    \"simulationMetadata\": {\n      \"description\": \"Assumptions, tool versions, and data sources underpinning the simulation.\",\n      \"examples\": [\n        {\n          \"assumptions\": [\n            \"Player uses optimal discard lines\",\n            \"Shop offers average rarity distribution\"\n          ],\n          \"rngSeeds\": [\n            \"baseline-seed-103\",\n            \"synergy-seed-227\",\n            \"busted-seed-404\"\n          ],\n          \"tools\": [\n            \"BALATRO_RUN_SIM v1.2\"\n          ]\n        }\n      ],\n      \"properties\": {\n        \"assumptions\": {\n          \"default\": [],\n          \"description\": \"Key assumptions that affect interpretation of the results.\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        },\n        \"rngSeeds\": {\n          \"default\": [],\n          \"description\": \"Named seeds or RNG notes for reproducibility.\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        },\n        \"tools\": {\n          \"default\": [],\n          \"description\": \"Simulation tools or scripts used to produce the report.\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        }\n      },\n      \"required\": [\n        \"assumptions\",\n        \"rngSeeds\",\n        \"tools\"\n      ],\n      \"type\": \"object\"\n    },\n    \"summary\": {\n      \"description\": \"Concise narration of what the simulations revealed.\",\n      \"examples\": [\n        \"Synergy-heavy runs demand higher rarity gate; busted loops require cost scaling.\"\n      ],\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"balanceVerdict\",\n    \"mitigationIdeas\",\n    \"scenarioReports\",\n    \"simulationMetadata\",\n    \"summary\"\n  ]\n}"
      }
    },
    {
      "id": "1e74ef9a-d489-5a71-abdd-33a732d20f21",
      "name": "run_balance_simulator_agent",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        320,
        720
      ],
      "parameters": {
        "hasOutputParser": true,
        "options": {},
        "text": "=You simulate Balatro runs to test proposed jokers and deck adjustments.\nUse the orchestrator dossier and synergy report to set up baseline, synergy heavy, and busted scenarios.\nCapture ante progression notes, chip and multiplier trajectories, economy summary, and probability estimates.\nFlag risks per scenario and recommend mitigations when thresholds are exceeded.\nDocument assumptions, RNG seeds, and tools used so the harness can replay the runs.\nReturn a single JSON object. Do not include commentary or code fences.\n\nUser request:\n{{ $fromAI('Prompt__User_Message_', ``, 'string') }}\n",
        "toolDescription": "Simulates Balatro run scenarios to stress-test balance and recommend mitigations."
      }
    },
    {
      "id": "29e13bd6-f29d-5e63-b43c-fb20943f035a",
      "name": "lm__design_conflict_verifier_agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        840
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5",
          "cachedResultName": "gpt-5"
        },
        "options": {
          "reasoningEffort": "high",
          "timeout": 300000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "1lkBcOr7FVmY5bn6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "b25a8c88-2acb-533d-835c-575d02a602ae",
      "name": "parser__design_conflict_verifier_agent",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        960
      ],
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"Design Conflict Verifier Agent Output\",\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"blockedItems\": {\n      \"default\": [],\n      \"description\": \"Identifiers for concepts or spec elements that cannot advance without changes.\",\n      \"examples\": [\n        [\n          \"IDEA-01\",\n          \"jokerSpec\"\n        ]\n      ],\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"type\": \"array\"\n    },\n    \"conflictFindings\": {\n      \"default\": [],\n      \"description\": \"Detailed conflicts discovered during verification.\",\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"conflictType\": {\n            \"description\": \"Category of the conflict encountered.\",\n            \"enum\": [\n              \"rules\",\n              \"economy\",\n              \"balance\",\n              \"ux\",\n              \"technical\"\n            ],\n            \"examples\": [\n              \"rules\"\n            ],\n            \"type\": \"string\"\n          },\n          \"description\": {\n            \"description\": \"Narrative explanation of the conflict.\",\n            \"examples\": [\n              \"Effect duplicates Banner and stacks with Gros Michel for runaway discards.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"findingId\": {\n            \"description\": \"Stable identifier for the finding.\",\n            \"examples\": [\n              \"conflict-rules-01\"\n            ],\n            \"type\": \"string\"\n          },\n          \"impactedSystems\": {\n            \"default\": [],\n            \"description\": \"Systems or mechanics affected by the issue.\",\n            \"examples\": [\n              [\n                \"discard economy\",\n                \"boss blind scaling\"\n              ]\n            ],\n            \"items\": {\n              \"type\": \"string\"\n            },\n            \"type\": \"array\"\n          },\n          \"resolutionRecommendation\": {\n            \"description\": \"Proposed mitigation or follow-up action.\",\n            \"examples\": [\n              \"Limit discard bonus to once per blind or move to legendary rarity.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"severity\": {\n            \"description\": \"Relative severity of the conflict.\",\n            \"enum\": [\n              \"low\",\n              \"medium\",\n              \"high\"\n            ],\n            \"examples\": [\n              \"high\"\n            ],\n            \"type\": \"string\"\n          },\n          \"status\": {\n            \"description\": \"Current disposition of the finding.\",\n            \"enum\": [\n              \"blocked\",\n              \"mitigated\",\n              \"monitor\"\n            ],\n            \"examples\": [\n              \"blocked\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"conflictType\",\n          \"description\",\n          \"findingId\",\n          \"impactedSystems\",\n          \"resolutionRecommendation\",\n          \"severity\",\n          \"status\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    },\n    \"policyChecklist\": {\n      \"default\": [],\n      \"description\": \"Standard checks covering rules, economy, rarity, and UX guarantees.\",\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"checkId\": {\n            \"description\": \"Identifier for the checklist item.\",\n            \"examples\": [\n              \"score-math\"\n            ],\n            \"type\": \"string\"\n          },\n          \"description\": {\n            \"description\": \"What the checklist item validates.\",\n            \"examples\": [\n              \"Score multipliers stay within ante 8 caps.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"notes\": {\n            \"description\": \"Supporting evidence or reasoning for the status.\",\n            \"examples\": [\n              \"Simulator confirms multiplier stays under 25 at ante 6.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"status\": {\n            \"description\": \"Outcome of the checklist evaluation.\",\n            \"enum\": [\n              \"pass\",\n              \"fail\",\n              \"attention\"\n            ],\n            \"examples\": [\n              \"attention\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"checkId\",\n          \"description\",\n          \"notes\",\n          \"status\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    },\n    \"validatedAspects\": {\n      \"default\": [],\n      \"description\": \"Elements of the design confirmed safe to advance.\",\n      \"examples\": [\n        [\n          {\n            \"aspectId\": \"economy-price\",\n            \"description\": \"Shop price aligns with rarity benchmarks.\",\n            \"notes\": \"Matches rare joker baseline plus 2 for scaling risk.\"\n          }\n        ]\n      ],\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"aspectId\": {\n            \"description\": \"Identifier for the validated aspect.\",\n            \"examples\": [\n              \"economy-price\"\n            ],\n            \"type\": \"string\"\n          },\n          \"description\": {\n            \"description\": \"Summary of what passed verification.\",\n            \"examples\": [\n              \"Effect respects discard limit per blind.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"notes\": {\n            \"description\": \"Supporting rationale or evidence.\",\n            \"examples\": [\n              \"Synergy sim shows no infinite loop when paired with Banner.\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"aspectId\",\n          \"description\",\n          \"notes\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    },\n    \"validationNotes\": {\n      \"default\": [],\n      \"description\": \"Additional context or references gathered during verification.\",\n      \"examples\": [\n        [\n          \"Cross-checked against Joker #22 Banner for discard overlap.\"\n        ]\n      ],\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"type\": \"array\"\n    },\n    \"verificationSummary\": {\n      \"description\": \"Top-level verdict on whether the design may proceed.\",\n      \"examples\": [\n        \"Blocked pending rarity increase and discard trigger cap.\"\n      ],\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"blockedItems\",\n    \"conflictFindings\",\n    \"policyChecklist\",\n    \"validatedAspects\",\n    \"validationNotes\",\n    \"verificationSummary\"\n  ]\n}"
      }
    },
    {
      "id": "3f34e2a4-f72d-51ea-8bd1-a03a13f271f3",
      "name": "design_conflict_verifier_agent",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        320,
        960
      ],
      "parameters": {
        "hasOutputParser": true,
        "options": {},
        "text": "=You verify Balatro joker designs for conflicts with core rules and existing mechanics.\nReview the orchestrator dossier plus synergy and simulator evidence when provided.\nUse this Balatro Joker catalog to flag duplicates or oppressive overlaps:\n1 Joker: +4 Mult\n         cost $2 | rarity Common | availability Available from start\n         type +m | trigger Indep.\n\n2 Greedy Joker: Played cards with \u2666 give +3 Mult when scored\n                cost $5 | rarity Common | availability Available from start\n                type +m | trigger On Scored\n\n3 Lusty Joker: Played cards with \u2665 give +3 Mult when scored\n               cost $5 | rarity Common | availability Available from start\n               type +m | trigger On Scored\n\n4 Wrathful Joker: Played cards with \u2660 give +3 Mult when scored\n                  cost $5 | rarity Common | availability Available from start\n                  type +m | trigger On Scored\n\n5 Gluttonous Joker: Played cards with \u2663 give +3 Mult when scored\n                    cost $5 | rarity Common | availability Available from start\n                    type +m | trigger On Scored\n\n6 Jolly Joker: +8 Mult if played hand contains a Pair\n               cost $3 | rarity Common | availability Available from start\n               type +m | trigger Indep.\n\n7 Zany Joker: +12 Mult if played hand contains a Three of a Kind\n              cost $4 | rarity Common | availability Available from start\n              type +m | trigger Indep.\n\n8 Mad Joker: +10 Mult if played hand contains a Two Pair\n             cost $4 | rarity Common | availability Available from start\n             type +m | trigger Indep.\n\n9 Crazy Joker: +12 Mult if played hand contains a Straight\n               cost $4 | rarity Common | availability Available from start\n               type +m | trigger Indep.\n\n10 Droll Joker: +10 Mult if played hand contains a Flush\n                cost $4 | rarity Common | availability Available from start\n                type +m | trigger Indep.\n\n11 Sly Joker: +50 Chips if played hand contains a Pair\n              cost $3 | rarity Common | availability Available from start\n              type +c | trigger Indep.\n\n12 Wily Joker: +100 Chips if played hand contains a Three of a Kind\n               cost $4 | rarity Common | availability Available from start\n               type +c | trigger Indep.\n\n13 Clever Joker: +80 Chips if played hand contains a Two Pair\n                 cost $4 | rarity Common | availability Available from start\n                 type +c | trigger Indep.\n\n14 Devious Joker: +100 Chips if played hand contains a Straight\n                  cost $4 | rarity Common | availability Available from start\n                  type +c | trigger Indep.\n\n15 Crafty Joker: +80 Chips if played hand contains a Flush\n                 cost $4 | rarity Common | availability Available from start\n                 type +c | trigger Indep.\n\n16 Half Joker: +20 Mult if played hand contains 3 or fewer cards\n               cost $5 | rarity Common | availability Available from start\n               type +m | trigger Indep.\n\n17 Joker Stencil: X1 Mult for each empty Joker slot\n                  cost $8 | rarity Uncommon | availability Available from start\n                  type Xm | trigger Indep.\n\n18 Four Fingers: All Flushes and Straights can be made with 4 cards\n                 cost $7 | rarity Uncommon | availability Available from start\n                 type !! | trigger N/A\n\n19 Mime: Retrigger all card held in hand abilities\n         cost $5 | rarity Uncommon | availability Available from start\n         type ... | trigger On Held\n\n20 Credit Card: Go up to -$20 in debt\n                cost $1 | rarity Common | availability Available from start\n                type +$ | trigger N/A\n\n21 Ceremonial Dagger: When Blind is selected, destroy Joker to the right and permanently add double its sell value to\n                      Mult\n                      cost $6 | rarity Uncommon | availability Available from start\n                      type +m | trigger Indep.\n\n22 Banner: +30 Chips for each remaining discard\n           cost $5 | rarity Common | availability Available from start\n           type +c | trigger Indep.\n\n23 Mystic Summit: +15 Mult when 0 discards remaining\n                  cost $5 | rarity Common | availability Available from start\n                  type +m | trigger Indep.\n\n24 Marble Joker: Adds one Stone card to the deck when Blind is selected\n                 cost $6 | rarity Uncommon | availability Available from start\n                 type !! | trigger On Blind Select\n\n25 Loyalty Card: X4 Mult every 6 hands played\n                 cost $5 | rarity Uncommon | availability Available from start\n                 type Xm | trigger Indep.\n\n26 8 Ball: 1 in 4 chance for each played 8 to create a Tarot card when scored\n           cost $5 | rarity Common | availability Available from start\n           type !! | trigger On Scored\n\n27 Misprint: +0\u201323 Mult\n             cost $4 | rarity Common | availability Available from start\n             type +m | trigger Indep.\n\n28 Dusk: Retrigger all played cards in final hand of the round\n         cost $5 | rarity Uncommon | availability Available from start\n         type ... | trigger On Scored\n\n29 Raised Fist: Adds double the rank of lowest ranked card held in hand to Mult\n                cost $5 | rarity Common | availability Available from start\n                type +m | trigger On Held\n\n30 Chaos the Clown: 1 free Reroll per shop\n                    cost $4 | rarity Common | availability Available from start\n                    type !! | trigger N/A\n\n31 Fibonacci: Each played Ace, 2, 3, 5, or 8 gives +8 Mult when scored\n              cost $8 | rarity Uncommon | availability Available from start\n              type +m | trigger On Scored\n\n32 Steel Joker: Gives X0.2 Mult for each Steel Card in your full deck\n                cost $7 | rarity Uncommon | availability Available from start\n                type Xm | trigger Indep.\n\n33 Scary Face: Played face cards give +30 Chips when scored\n               cost $4 | rarity Common | availability Available from start\n               type +c | trigger On Scored\n\n34 Abstract Joker: +3 Mult for each Joker card\n                   cost $4 | rarity Common | availability Available from start\n                   type +m | trigger Indep.\n\n35 Delayed Gratification: Earn $2 per discard if no discards are used by end of the round\n                          cost $4 | rarity Common | availability Available from start\n                          type +$ | trigger N/A\n\n36 Hack: Retrigger each played 2, 3, 4, or 5\n         cost $6 | rarity Uncommon | availability Available from start\n         type ... | trigger On Scored\n\n37 Pareidolia: All cards are considered face cards\n               cost $5 | rarity Uncommon | availability Available from start\n               type !! | trigger N/A\n\n38 Gros Michel: +15 Mult, 1 in 6 chance to be destroyed at end of round\n                cost $5 | rarity Common | availability Available from start\n                type +m | trigger Indep.\n\n39 Even Steven: Played cards with even rank give +4 Mult when scored\n                cost $4 | rarity Common | availability Available from start\n                type +m | trigger On Scored\n\n40 Odd Todd: Played cards with odd rank give +31 Chips when scored\n             cost $4 | rarity Common | availability Available from start\n             type +c | trigger On Scored\n\n41 Scholar: Played Aces give +20 Chips and +4 Mult when scored\n            cost $4 | rarity Common | availability Available from start\n            type ++ | trigger On Scored\n\n42 Business Card: Played face cards have 1 in 2 chance to give $2 when scored\n                  cost $4 | rarity Common | availability Available from start\n                  type +$ | trigger On Scored\n\n43 Supernova: Adds number of times poker hand has been played this run to Mult\n              cost $5 | rarity Common | availability Available from start\n              type +m | trigger Indep.\n\n44 Ride the Bus: Gains +1 Mult per consecutive hand played without a scoring face card\n                 cost $6 | rarity Common | availability Available from start\n                 type +m | trigger Mixed\n\n45 Space Joker: 1 in 4 chance to upgrade level of played poker hand\n                cost $5 | rarity Uncommon | availability Available from start\n                type !! | trigger On Played\n\n46 Egg: Gains $3 of sell value at end of round\n        cost $4 | rarity Common | availability Available from start\n        type +$ | trigger N/A\n\n47 Burglar: When Blind is selected, gain +3 Hands and lose all discards\n            cost $6 | rarity Uncommon | availability Available from start\n            type !! | trigger On Blind Select\n\n48 Blackboard: X3 Mult if all cards held in hand are \u2660 or \u2663\n               cost $6 | rarity Uncommon | availability Available from start\n               type Xm | trigger Indep.\n\n49 Runner: Gains +15 Chips if played hand contains a Straight\n           cost $5 | rarity Common | availability Available from start\n           type +c | trigger Mixed\n\n50 Ice Cream: +100 Chips, -5 Chips for every hand played\n              cost $5 | rarity Common | availability Available from start\n              type +c | trigger Indep.\n\n51 DNA: If first hand of round has only 1 card, add a permanent copy to deck and draw it to hand\n        cost $8 | rarity Rare | availability Available from start\n        type !! | trigger On Played\n\n52 Splash: Every played card counts in scoring\n           cost $3 | rarity Common | availability Available from start\n           type !! | trigger N/A\n\n53 Blue Joker: +2 Chips for each remaining card in deck\n               cost $5 | rarity Common | availability Available from start\n               type +c | trigger Indep.\n\n54 Sixth Sense: If first hand of round is a single 6, destroy it and create a Spectral card\n                cost $6 | rarity Uncommon | availability Available from start\n                type !! | trigger N/A\n\n55 Constellation: Gains X0.1 Mult every time a Planet card is used\n                  cost $6 | rarity Uncommon | availability Available from start\n                  type Xm | trigger Indep.\n\n56 Hiker: Every played card permanently gains +5 Chips when scored\n          cost $5 | rarity Uncommon | availability Available from start\n          type +c | trigger On Scored\n\n57 Faceless Joker: Earn $5 if 3+ face cards are discarded at once\n                   cost $4 | rarity Common | availability Available from start\n                   type +$ | trigger On Discard\n\n58 Green Joker: +1 Mult per hand played, -1 Mult per discard\n                cost $4 | rarity Common | availability Available from start\n                type +m | trigger Mixed\n\n59 Superposition: Create a Tarot card if poker hand contains an Ace and a Straight\n                  cost $4 | rarity Common | availability Available from start\n                  type !! | trigger Indep.\n\n60 To Do List: Earn $4 if poker hand is a listed type, changes each round\n               cost $4 | rarity Common | availability Available from start\n               type +$ | trigger On Played\n\n61 Cavendish: X3 Mult, 1 in 1000 chance to be destroyed at end of round\n              cost $4 | rarity Common | availability Available from start\n              type Xm | trigger Indep.\n\n62 Card Sharp: X3 Mult if played poker hand was already played this round\n               cost $6 | rarity Uncommon | availability Available from start\n               type Xm | trigger Indep.\n\n63 Red Card: Gains +3 Mult when any Booster Pack is skipped\n             cost $5 | rarity Common | availability Available from start\n             type +m | trigger Indep.\n\n64 Madness: Gain X0.5 Mult when Small/Big Blind selected, destroy random Joker\n            cost $7 | rarity Uncommon | availability Available from start\n            type Xm | trigger Indep.\n\n65 Square Joker: Gains +4 Chips if played hand has exactly 4 cards\n                 cost $4 | rarity Common | availability Available from start\n                 type +c | trigger Mixed\n\n66 S\u00e9ance: If poker hand is a Straight Flush, create a random Spectral card\n           cost $6 | rarity Uncommon | availability Available from start\n           type !! | trigger Indep.\n\n67 Riff-Raff: When Blind is selected, create 2 Common Jokers\n              cost $6 | rarity Common | availability Available from start\n              type !! | trigger On Blind Select\n\n68 Vampire: Gains X0.1 Mult per scoring Enhanced card played, removes enhancement\n            cost $7 | rarity Uncommon | availability Available from start\n            type Xm | trigger Mixed\n\n69 Shortcut: Allows Straights with gaps of 1 rank (e.g. 10\u20138\u20136\u20135\u20133)\n             cost $7 | rarity Uncommon | availability Available from start\n             type !! | trigger N/A\n\n70 Hologram: Gains X0.25 Mult every time a card is added to deck\n             cost $7 | rarity Uncommon | availability Available from start\n             type Xm | trigger Indep.\n\n71 Vagabond: Create a Tarot card if hand is played with $4 or less\n             cost $8 | rarity Rare | availability Available from start\n             type !! | trigger Indep.\n\n72 Baron: Each King held in hand gives X1.5 Mult\n          cost $8 | rarity Rare | availability Available from start\n          type Xm | trigger On Held\n\n73 Cloud 9: Earn $1 for each 9 in full deck at end of round\n            cost $7 | rarity Uncommon | availability Available from start\n            type +$ | trigger N/A\n\n74 Rocket: Earn $1 at end of round, +$2 when Boss Blind defeated\n           cost $6 | rarity Uncommon | availability Available from start\n           type +$ | trigger N/A\n\n75 Obelisk: Gains X0.2 Mult per consecutive hand without using most-played hand\n            cost $8 | rarity Rare | availability Available from start\n            type Xm | trigger Mixed\n\n76 Midas Mask: All played face cards become Gold cards when scored\n               cost $7 | rarity Uncommon | availability Available from start\n               type !! | trigger On Played\n\n77 Luchador: Sell this card to disable current Boss Blind\n             cost $5 | rarity Uncommon | availability Available from start\n             type !! | trigger N/A\n\n78 Photograph: First played face card gives X2 Mult when scored\n               cost $5 | rarity Common | availability Available from start\n               type Xm | trigger On Scored\n\n79 Gift Card: Add $1 of sell value to all Jokers and Consumables each round\n              cost $6 | rarity Uncommon | availability Available from start\n              type +$ | trigger N/A\n\n80 Turtle Bean: +5 hand size, reduces by 1 each round\n                cost $6 | rarity Uncommon | availability Available from start\n                type !! | trigger N/A\n\n81 Erosion: +4 Mult for each card below deck\u2019s starting size\n            cost $6 | rarity Uncommon | availability Available from start\n            type +m | trigger Indep.\n\n82 Reserved Parking: Each face card held has 1 in 2 chance to give $1\n                     cost $6 | rarity Common | availability Available from start\n                     type +$ | trigger On Held\n\n83 Mail-In Rebate: Earn $5 for each discarded rank, changes each round\n                   cost $4 | rarity Common | availability Available from start\n                   type +$ | trigger On Discard\n\n84 To the Moon: Earn +$1 interest for every $5 owned at end of round\n                cost $5 | rarity Uncommon | availability Available from start\n                type +$ | trigger N/A\n\n85 Hallucination: 1 in 2 chance to create Tarot card when any Booster Pack opened\n                  cost $4 | rarity Common | availability Available from start\n                  type !! | trigger N/A\n\n86 Fortune Teller: +1 Mult per Tarot card used this run\n                   cost $6 | rarity Common | availability Available from start\n                   type +m | trigger Indep.\n\n87 Juggler: +1 hand size\n            cost $4 | rarity Common | availability Available from start\n            type !! | trigger N/A\n\n88 Drunkard: +1 discard per round\n             cost $4 | rarity Common | availability Available from start\n             type !! | trigger N/A\n\n89 Stone Joker: +25 Chips for each Stone Card in deck\n                cost $6 | rarity Uncommon | availability Available from start\n                type +c | trigger Indep.\n\n90 Golden Joker: Earn $4 at end of round\n                 cost $6 | rarity Common | availability Available from start\n                 type +$ | trigger N/A\n\n91 Lucky Cat: Gains X0.25 Mult per successful Lucky card trigger\n              cost $6 | rarity Uncommon | availability Available from start\n              type Xm | trigger Mixed\n\n92 Baseball Card: Uncommon Jokers each give X1.5 Mult\n                  cost $8 | rarity Rare | availability Available from start\n                  type Xm | trigger On Other Jokers\n\n93 Bull: +2 Chips per $1 owned\n         cost $6 | rarity Uncommon | availability Available from start\n         type +c | trigger Indep.\n\n94 Diet Cola: Sell this card to create a free Double Tag\n              cost $6 | rarity Uncommon | availability Available from start\n              type !! | trigger N/A\n\n95 Trading Card: If first discard of round has only 1 card, destroy it and earn $3\n                 cost $6 | rarity Uncommon | availability Available from start\n                 type +$ | trigger On Discard\n\n96 Flash Card: Gains +2 Mult per shop reroll\n               cost $5 | rarity Uncommon | availability Available from start\n               type +m | trigger Indep.\n\n97 Popcorn: +20 Mult, -4 Mult per round played\n            cost $5 | rarity Common | availability Available from start\n            type +m | trigger Indep.\n\n98 Spare Trousers: Gains +2 Mult if hand contains a Two Pair\n                   cost $6 | rarity Uncommon | availability Available from start\n                   type +m | trigger Mixed\n\n99 Ancient Joker: Each played card with suit gives X1.5 Mult, suit changes each round\n                  cost $8 | rarity Rare | availability Available from start\n                  type Xm | trigger On Scored\n\n100 Ramen: X2 Mult, loses X0.01 Mult per card discarded\n           cost $6 | rarity Uncommon | availability Available from start\n           type Xm | trigger Mixed\n\n101 Walkie Talkie: Each played 10 or 4 gives +10 Chips and +4 Mult when scored\n                   cost $4 | rarity Common | availability Available from start\n                   type ++ | trigger On Scored\n\n102 Seltzer: Retrigger all cards played for the next 10 hands\n             cost $6 | rarity Uncommon | availability Available from start\n             type ... | trigger On Scored\n\n103 Castle: Gains +3 Chips per discarded suit, suit changes every round\n            cost $6 | rarity Uncommon | availability Available from start\n            type +c | trigger Mixed\n\n104 Smiley Face: Played face cards give +5 Mult when scored\n                 cost $4 | rarity Common | availability Available from start\n                 type +m | trigger On Scored\n\n105 Campfire: Gains X0.25 Mult for each card sold, resets when Boss Blind defeated\n              cost $9 | rarity Rare | availability Available from start\n              type Xm | trigger Indep.\n\n106 Golden Ticket: Played Gold cards earn $4 when scored\n                   cost $5 | rarity Common | availability Play 5-card hand with only Gold cards\n                   type +$ | trigger On Scored\n\n107 Mr. Bones: Prevents Death if chips \u226525% of requirement, then self-destructs\n               cost $5 | rarity Uncommon | availability Lose 5 runs\n               type !! | trigger N/A\n\n108 Acrobat: X3 Mult on final hand of round\n             cost $6 | rarity Uncommon | availability Play 200 hands\n             type Xm | trigger Indep.\n\n109 Sock and Buskin: Retrigger all played face cards\n                     cost $6 | rarity Uncommon | availability Play 300 face cards total\n                     type ... | trigger On Scored\n\n110 Swashbuckler: Adds sell value of all other Jokers to Mult\n                  cost $4 | rarity Common | availability Sell 20 Joker cards\n                  type +m | trigger Indep.\n\n111 Troubadour: +2 hand size, \u22121 hand per round\n                cost $6 | rarity Uncommon | availability Win 5 rounds using only 1 hand\n                type !! | trigger N/A\n\n112 Certificate: Adds random card with random seal to hand each round\n                 cost $6 | rarity Uncommon | availability Have Gold card with Gold Seal\n                 type !! | trigger N/A\n\n113 Smeared Joker: \u2665 and \u2666 count as same suit; \u2660 and \u2663 count as same suit\n                   cost $7 | rarity Uncommon | availability Have \u22653 Wild cards\n                   type !! | trigger N/A\n\n114 Throwback: X0.25 Mult for each Blind skipped this run\n               cost $6 | rarity Uncommon | availability Continue saved run\n               type Xm | trigger Indep.\n\n115 Hanging Chad: Retrigger first played card used in scoring 2\u00d7\n                  cost $4 | rarity Common | availability Beat Boss Blind with High Card\n                  type ... | trigger On Scored\n\n116 Rough Gem: Played \u2666 cards earn $1 when scored\n               cost $7 | rarity Uncommon | availability Have \u226530 \u2666 cards in deck\n               type +$ | trigger On Scored\n\n117 Bloodstone: 1 in 2 chance for \u2665 cards to give X1.5 Mult when scored\n                cost $7 | rarity Uncommon | availability Have \u226530 \u2665 cards in deck\n                type Xm | trigger On Scored\n\n118 Arrowhead: Played \u2660 cards give +50 Chips when scored\n               cost $7 | rarity Uncommon | availability Have \u226530 \u2660 cards in deck\n               type +c | trigger On Scored\n\n119 Onyx Agate: Played \u2663 cards give +7 Mult when scored\n                cost $7 | rarity Uncommon | availability Have \u226530 \u2663 cards in deck\n                type +m | trigger On Scored\n\n120 Glass Joker: Gains X0.75 Mult for every destroyed Glass Card\n                 cost $6 | rarity Uncommon | availability Have \u22655 Glass Cards in deck\n                 type Xm | trigger Indep.\n\n121 Showman: Joker, Tarot, Planet, and Spectral cards may appear multiple times\n             cost $5 | rarity Uncommon | availability Reach Ante 4\n             type !! | trigger N/A\n\n122 Flower Pot: X3 Mult if hand has all four suits\n                cost $6 | rarity Uncommon | availability Reach Ante 8\n                type Xm | trigger Indep.\n\n123 Blueprint: Copies ability of Joker to the right\n               cost $10 | rarity Rare | availability Win a run\n               type !! | trigger N/A\n\n124 Wee Joker: Gains +8 Chips when each played 2 is scored\n               cost $8 | rarity Rare | availability Win a run in \u226418 rounds\n               type +c | trigger Mixed\n\n125 Merry Andy: +3 discards per round, \u22121 hand size\n                cost $7 | rarity Uncommon | availability Win a run in \u226412 rounds\n                type !! | trigger N/A\n\n126 Oops! All 6s: Doubles all listed probabilities (e.g., 1/3 \u2192 2/3)\n                  cost $4 | rarity Uncommon | availability Earn \u226510,000 chips in one hand\n                  type !! | trigger N/A\n\n127 The Idol: Each played [rank][suit] gives X2 Mult when scored (changes each round)\n              cost $6 | rarity Uncommon | availability Earn \u22651,000,000 chips in one hand\n              type Xm | trigger On Scored\n\n128 Seeing Double: X2 Mult if hand has a scoring \u2663 and another suit\n                   cost $6 | rarity Uncommon | availability Play a hand with four 7\u2663\n                   type Xm | trigger Indep.\n\n129 Matador: Earn $8 if hand triggers Boss Blind ability\n             cost $7 | rarity Uncommon | availability Defeat Boss Blind in 1 hand w/o discards\n             type +$ | trigger Indep.\n\n130 Hit the Road: Gains X0.5 Mult for every Jack discarded this round\n                  cost $8 | rarity Rare | availability Discard 5 Jacks at once\n                  type Xm | trigger Mixed\n\n131 The Duo: X2 Mult if hand contains a Pair\n             cost $8 | rarity Rare | availability Win a run without playing a Pair\n             type Xm | trigger Indep.\n\n132 The Trio: X3 Mult if hand contains a Three of a Kind\n              cost $8 | rarity Rare | availability Win a run without playing a Three of a Kind\n              type Xm | trigger Indep.\n\n133 The Family: X4 Mult if hand contains a Four of a Kind\n                cost $8 | rarity Rare | availability Win a run without playing a Four of a Kind\n                type Xm | trigger Indep.\n\n134 The Order: X3 Mult if hand contains a Straight\n               cost $8 | rarity Rare | availability Win a run without playing a Straight\n               type Xm | trigger Indep.\n\n135 The Tribe: X2 Mult if hand contains a Flush\n               cost $8 | rarity Rare | availability Win a run without playing a Flush\n               type Xm | trigger Indep.\n\n136 Stuntman: +250 Chips, \u22122 hand size\n              cost $7 | rarity Rare | availability Earn \u2265100M chips in a single hand\n              type +c | trigger Indep.\n\n137 Invisible Joker: After 2 rounds, sell to duplicate a random Joker (removes Negative)\n                     cost $8 | rarity Rare | availability Win a game with \u22644 Jokers\n                     type !! | trigger N/A\n\n138 Brainstorm: Copies ability of leftmost Joker\n                cost $10 | rarity Rare | availability Discard a Royal Flush\n                type !! | trigger N/A\n\n139 Satellite: Earn $1 per unique Planet card used this run\n               cost $6 | rarity Uncommon | availability Have \u2265$400\n               type +$ | trigger N/A\n\n140 Shoot the Moon: Each Queen held gives +13 Mult\n                    cost $5 | rarity Common | availability Play every \u2665 card in one round\n                    type +m | trigger On Held\n\n141 Driver\u2019s License: X3 Mult if \u226516 Enhanced cards in deck\n                      cost $7 | rarity Rare | availability Enhance 16 cards in deck\n                      type Xm | trigger Indep.\n\n142 Cartomancer: Create a Tarot card when Blind is selected\n                 cost $6 | rarity Uncommon | availability Discover every Tarot Card\n                 type !! | trigger On Blind Select\n\n143 Astronomer: All Planet cards and Celestial Packs are free\n                cost $8 | rarity Uncommon | availability Discover all Planet Cards\n                type !! | trigger N/A\n\n144 Burnt Joker: Upgrade level of first discarded poker hand each round\n                 cost $8 | rarity Rare | availability Sell 50 cards\n                 type !! | trigger On Discard\n\n145 Bootstraps: +2 Mult for every $5 owned\n                cost $7 | rarity Uncommon | availability Have \u22652 Polychrome Jokers\n                type +m | trigger Indep.\n\n146 Canio: Gains X1 Mult when a face card is destroyed\n           cost \u2014 | rarity Legendary | availability Found via Soul card\n           type Xm | trigger Mixed\n\n147 Triboulet: Played Kings and Queens each give X2 Mult when scored\n               cost \u2014 | rarity Legendary | availability Found via Soul card\n               type Xm | trigger On Scored\n\n148 Yorick: Gains X1 Mult every 23 cards discarded\n            cost \u2014 | rarity Legendary | availability Found via Soul card\n            type Xm | trigger Mixed\n\n149 Chicot: Disables every Boss Blind effect\n            cost \u2014 | rarity Legendary | availability Found via Soul card\n            type !! | trigger On Blind Select\n\n150 Perkeo: Creates Negative copy of 1 random consumable at end of shop\n            cost \u2014 | rarity Legendary | availability Found via Soul card\n            type !! | trigger N/A\nSummarize an overall verificationSummary and capture supporting validationNotes as needed.\nPopulate policyChecklist entries with checkId, description, status, and notes; statuses are pass, fail, or attention.\nList conflictFindings with findingId, conflictType, description, impactedSystems, and severity details.\nInclude a resolutionRecommendation and status for every conflictFinding.\nRecord blockedItems referencing ideaId or jokerSpec identifiers that cannot proceed.\nList validatedAspects that remain safe to advance.\nReturn a single JSON object per schemas/design_conflict_verifier_agent.json. No commentary or fences.\n\nUser request:\n{{ $fromAI('Prompt__User_Message_', ``, 'string') }}\n",
        "toolDescription": "Validates joker designs against Balatro rules, existing jokers, and economy safeguards."
      }
    },
    {
      "id": "329d9d58-a014-570e-bda5-dceaf7823507",
      "name": "lm__lead_designer_orchestrator_agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        -120
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5",
          "cachedResultName": "gpt-5"
        },
        "options": {
          "reasoningEffort": "high",
          "timeout": 300000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "1lkBcOr7FVmY5bn6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "b65ac40f-d53f-5e09-b995-afb1e6e9779a",
      "name": "parser__lead_designer_orchestrator_agent",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        0
      ],
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"Lead Designer Orchestrator Agent Output\",\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"balancePlan\": {\n      \"description\": \"Summary of balance adjustments and mitigations coordinated with the simulator findings.\",\n      \"examples\": [\n        {\n          \"globalVerdict\": \"Keep joker rare; cap multiplier growth by ante 6.\",\n          \"mitigations\": [\n            \"Gate effect behind discard cost scaling\",\n            \"Increase shop price by 2x baseline\"\n          ],\n          \"rationale\": \"Simulator flagged runaway econ in busted seed.\"\n        }\n      ],\n      \"properties\": {\n        \"globalVerdict\": {\n          \"description\": \"Single sentence verdict on balance viability.\",\n          \"examples\": [\n            \"Balanced with mitigation applied to econ scaling.\"\n          ],\n          \"type\": \"string\"\n        },\n        \"mitigations\": {\n          \"default\": [],\n          \"description\": \"Concrete balance levers to apply or monitor.\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        },\n        \"rationale\": {\n          \"description\": \"Key simulator evidence supporting the verdict.\",\n          \"examples\": [\n            \"Baseline run safe; busted run needs ante 5 cap.\"\n          ],\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\n        \"globalVerdict\",\n        \"mitigations\",\n        \"rationale\"\n      ],\n      \"type\": \"object\"\n    },\n    \"conceptPlan\": {\n      \"description\": \"How the orchestrator curates idea seeds from the creativity generator.\",\n      \"properties\": {\n        \"divergentAxes\": {\n          \"default\": [],\n          \"description\": \"Axes from the generator output that informed selection decisions.\",\n          \"examples\": [\n            [\n              \"Discard tempo\",\n              \"Economy burst\",\n              \"Scaling restraint\"\n            ]\n          ],\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        },\n        \"notes\": {\n          \"description\": \"Narrative summary of how ideation output was applied.\",\n          \"examples\": [\n            \"Adopted discard tempo seed; parking endless scaling due to balance risk.\"\n          ],\n          \"type\": \"string\"\n        },\n        \"selectedIdeas\": {\n          \"default\": [],\n          \"description\": \"Decisions made on individual idea seeds.\",\n          \"items\": {\n            \"additionalProperties\": false,\n            \"properties\": {\n              \"decision\": {\n                \"description\": \"Disposition for the idea seed.\",\n                \"enum\": [\n                  \"adopt\",\n                  \"iterate\",\n                  \"drop\"\n                ],\n                \"examples\": [\n                  \"adopt\"\n                ],\n                \"type\": \"string\"\n              },\n              \"delegateReference\": {\n                \"description\": \"Identifier or path referring to the generator output.\",\n                \"examples\": [\n                  \"creativity_report#IDEA-01\"\n                ],\n                \"type\": \"string\"\n              },\n              \"ideaId\": {\n                \"description\": \"Idea identifier supplied by the creativity generator.\",\n                \"examples\": [\n                  \"IDEA-01\"\n                ],\n                \"type\": \"string\"\n              },\n              \"rationale\": {\n                \"description\": \"Reasoning behind the decision and downstream implications.\",\n                \"examples\": [\n                  \"Adopt to reward discard tempo; loop balance with Banner risk noted.\"\n                ],\n                \"type\": \"string\"\n              },\n              \"title\": {\n                \"description\": \"Idea seed title for readability.\",\n                \"examples\": [\n                  \"Cache King\"\n                ],\n                \"type\": \"string\"\n              }\n            },\n            \"required\": [\n              \"decision\",\n              \"delegateReference\",\n              \"ideaId\",\n              \"rationale\",\n              \"title\"\n            ],\n            \"type\": \"object\"\n          },\n          \"type\": \"array\"\n        }\n      },\n      \"required\": [\n        \"divergentAxes\",\n        \"notes\",\n        \"selectedIdeas\"\n      ],\n      \"type\": \"object\"\n    },\n    \"delegationLog\": {\n      \"default\": [],\n      \"description\": \"Chronological log of subordinate agent calls and how outputs were used.\",\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"decisionImpact\": {\n            \"description\": \"Consequence of the delegate's output on the overall plan.\",\n            \"examples\": [\n              \"Adopted synergy package SP-02 as primary path.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"outputReference\": {\n            \"description\": \"Identifier or file path pointing to the stored delegate result.\",\n            \"examples\": [\n              \"synergy_report#SP-02\"\n            ],\n            \"type\": \"string\"\n          },\n          \"promptExcerpt\": {\n            \"description\": \"Key instructions sent to the subordinate agent.\",\n            \"examples\": [\n              \"Rank joker synergies for discard-centric decks.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"tool\": {\n            \"description\": \"Name of the subordinate agent or tool invoked.\",\n            \"examples\": [\n              \"joker_synergy_specialist_agent\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"decisionImpact\",\n          \"outputReference\",\n          \"promptExcerpt\",\n          \"tool\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    },\n    \"designSummary\": {\n      \"description\": \"Concise recap of the design intent and success criteria.\",\n      \"examples\": [\n        {\n          \"coreGoal\": \"Deliver a joker that scales discard-based straights into late antes.\",\n          \"notableConstraints\": [\n            \"Must not break daily challenge balance\",\n            \"Keep rarity at Legendary\"\n          ],\n          \"playerFantasy\": \"Reward high-skill sequencing with escalating payoff\",\n          \"successMetrics\": [\n            \"Win rate +5% over discard decks\",\n            \"Maintain ante 8 clear rate parity\"\n          ]\n        }\n      ],\n      \"properties\": {\n        \"coreGoal\": {\n          \"description\": \"Primary gameplay objective for the design.\",\n          \"examples\": [\n            \"Enable discard decks to spike chips without infinite loops.\"\n          ],\n          \"type\": \"string\"\n        },\n        \"notableConstraints\": {\n          \"default\": [],\n          \"description\": \"Hard constraints or banned elements supplied in the brief.\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        },\n        \"playerFantasy\": {\n          \"description\": \"Flavor-forward articulation of the player experience.\",\n          \"examples\": [\n            \"Feeling like a card shark stacking discards into jackpots.\"\n          ],\n          \"type\": \"string\"\n        },\n        \"successMetrics\": {\n          \"default\": [],\n          \"description\": \"Quantifiable indicators of success aligned with Balatro metrics.\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        }\n      },\n      \"required\": [\n        \"coreGoal\",\n        \"notableConstraints\",\n        \"playerFantasy\",\n        \"successMetrics\"\n      ],\n      \"type\": \"object\"\n    },\n    \"jokerSpec\": {\n      \"description\": \"Finalized joker card definition ready for implementation review.\",\n      \"examples\": [\n        {\n          \"baseChips\": 20,\n          \"baseMultiplier\": 2,\n          \"effectText\": \"Gain +4 Mult for each discarded straight this round.\",\n          \"jokerName\": \"Straight Razor\",\n          \"justification\": \"Leverages discard synergy while simulator mitigations keep busted seeds in check.\",\n          \"price\": 16,\n          \"rarity\": \"rare\",\n          \"tags\": [\n            \"discard\",\n            \"straight\"\n          ],\n          \"unlockCondition\": \"Win a run using at least 30 discarded straights.\"\n        }\n      ],\n      \"properties\": {\n        \"baseChips\": {\n          \"description\": \"Base chip value granted by the joker.\",\n          \"examples\": [\n            20\n          ],\n          \"minimum\": 0,\n          \"type\": \"number\"\n        },\n        \"baseMultiplier\": {\n          \"description\": \"Base multiplier granted by the joker.\",\n          \"examples\": [\n            2\n          ],\n          \"minimum\": 0,\n          \"type\": \"number\"\n        },\n        \"effectText\": {\n          \"description\": \"Player-facing Balatro rules text describing the joker effect.\",\n          \"examples\": [\n            \"Gain +4 Mult for each discarded straight this round.\"\n          ],\n          \"type\": \"string\"\n        },\n        \"jokerName\": {\n          \"description\": \"Display name of the joker card.\",\n          \"examples\": [\n            \"Straight Razor\"\n          ],\n          \"type\": \"string\"\n        },\n        \"justification\": {\n          \"description\": \"Evidence-backed rationale referencing delegate findings and balance outcomes.\",\n          \"examples\": [\n            \"Synergy package SP-02 drives discard loops; simulator shows safe growth with price hike.\"\n          ],\n          \"type\": \"string\"\n        },\n        \"price\": {\n          \"description\": \"Shop price recommendation for the joker in dollars.\",\n          \"examples\": [\n            16\n          ],\n          \"minimum\": 0,\n          \"type\": \"number\"\n        },\n        \"rarity\": {\n          \"description\": \"Recommended rarity tier for the joker.\",\n          \"enum\": [\n            \"common\",\n            \"uncommon\",\n            \"rare\",\n            \"legendary\"\n          ],\n          \"examples\": [\n            \"rare\"\n          ],\n          \"type\": \"string\"\n        },\n        \"tags\": {\n          \"default\": [],\n          \"description\": \"Keywords summarizing archetypes, mechanics, or hooks.\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        },\n        \"unlockCondition\": {\n          \"description\": \"Optional condition for unlocking the joker, if applicable.\",\n          \"examples\": [\n            \"Win a run using at least 30 discarded straights.\"\n          ],\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\n        \"baseChips\",\n        \"baseMultiplier\",\n        \"effectText\",\n        \"jokerName\",\n        \"justification\",\n        \"price\",\n        \"rarity\",\n        \"tags\"\n      ],\n      \"type\": \"object\"\n    },\n    \"openRisks\": {\n      \"default\": [],\n      \"description\": \"Outstanding questions or threats that need follow-up.\",\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"notes\": {\n            \"description\": \"Relevant context or mitigation ideas.\",\n            \"examples\": [\n              \"Requires confirmation from community telemetry.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"owner\": {\n            \"description\": \"Person or role accountable for resolving the risk.\",\n            \"examples\": [\n              \"QA lead\"\n            ],\n            \"type\": \"string\"\n          },\n          \"riskId\": {\n            \"description\": \"Unique identifier for cross-agent tracking.\",\n            \"examples\": [\n              \"risk-ante6-econ\"\n            ],\n            \"type\": \"string\"\n          },\n          \"severity\": {\n            \"description\": \"Relative severity label.\",\n            \"enum\": [\n              \"low\",\n              \"medium\",\n              \"high\"\n            ],\n            \"examples\": [\n              \"high\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"notes\",\n          \"owner\",\n          \"riskId\",\n          \"severity\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    },\n    \"synergyPlan\": {\n      \"default\": [],\n      \"description\": \"How the orchestrator will incorporate synergy packages into the design.\",\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"integrationDecision\": {\n            \"description\": \"Adopt, modify, or reject decision for the package.\",\n            \"enum\": [\n              \"adopt\",\n              \"modify\",\n              \"reject\"\n            ],\n            \"examples\": [\n              \"adopt\"\n            ],\n            \"type\": \"string\"\n          },\n          \"notes\": {\n            \"description\": \"Reasoning behind the decision and instructions for implementation.\",\n            \"examples\": [\n              \"Adopt with cap; ensure shop scaling matches ante 6 targets.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"packageId\": {\n            \"description\": \"Identifier referencing the synergy specialist output.\",\n            \"examples\": [\n              \"SP-02\"\n            ],\n            \"type\": \"string\"\n          },\n          \"sourceAgent\": {\n            \"description\": \"Name of the agent providing the package.\",\n            \"examples\": [\n              \"joker_synergy_specialist_agent\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"integrationDecision\",\n          \"notes\",\n          \"packageId\",\n          \"sourceAgent\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    },\n    \"validationHooks\": {\n      \"description\": \"Testing and instrumentation guidance for future automation or QA.\",\n      \"examples\": [\n        {\n          \"harnessSeeds\": [\n            \"baseline-seed-103\",\n            \"synergy-seed-227\",\n            \"busted-seed-404\"\n          ],\n          \"metrics\": [\n            \"chipsPerAnte\",\n            \"multiplierVariance\"\n          ],\n          \"nextSteps\": [\n            \"Record simulator screenshots\",\n            \"Schedule QA deck review\"\n          ]\n        }\n      ],\n      \"properties\": {\n        \"harnessSeeds\": {\n          \"default\": [],\n          \"description\": \"Named seeds or scenario IDs to replay in the harness.\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        },\n        \"metrics\": {\n          \"default\": [],\n          \"description\": \"Metrics to monitor when executing validation runs.\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        },\n        \"nextSteps\": {\n          \"default\": [],\n          \"description\": \"Actionable follow-ups for humans or other agents.\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        }\n      },\n      \"required\": [\n        \"harnessSeeds\",\n        \"metrics\",\n        \"nextSteps\"\n      ],\n      \"type\": \"object\"\n    },\n    \"verificationPlan\": {\n      \"description\": \"Summary of the verification pass and resulting follow-up actions.\",\n      \"properties\": {\n        \"blockedItems\": {\n          \"default\": [],\n          \"description\": \"Identifiers from the verifier that remain blocked.\",\n          \"examples\": [\n            [\n              \"IDEA-02\",\n              \"jokerSpec\"\n            ]\n          ],\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        },\n        \"followUpActions\": {\n          \"default\": [],\n          \"description\": \"Actions assigned in response to verifier findings.\",\n          \"examples\": [\n            [\n              \"Revise discard trigger to once per blind\",\n              \"Re-run balance sim after rarity update\"\n            ]\n          ],\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        },\n        \"verifierReference\": {\n          \"description\": \"Link or identifier of the verifier output for traceability.\",\n          \"examples\": [\n            \"verification_report#CONF-01\"\n          ],\n          \"type\": \"string\"\n        },\n        \"verifierStatus\": {\n          \"description\": \"Overall verdict from the verification agent.\",\n          \"enum\": [\n            \"approved\",\n            \"changesRequested\",\n            \"blocked\"\n          ],\n          \"examples\": [\n            \"changesRequested\"\n          ],\n          \"type\": \"string\"\n        },\n        \"verifierSummary\": {\n          \"description\": \"Narrative recap of the verification outcome.\",\n          \"examples\": [\n            \"Blocked pending discard trigger cap and rarity bump.\"\n          ],\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\n        \"blockedItems\",\n        \"followUpActions\",\n        \"verifierReference\",\n        \"verifierStatus\",\n        \"verifierSummary\"\n      ],\n      \"type\": \"object\"\n    }\n  },\n  \"required\": [\n    \"balancePlan\",\n    \"conceptPlan\",\n    \"delegationLog\",\n    \"designSummary\",\n    \"jokerSpec\",\n    \"openRisks\",\n    \"synergyPlan\",\n    \"validationHooks\",\n    \"verificationPlan\"\n  ]\n}"
      }
    },
    {
      "id": "d5426415-72f1-5221-b75c-ac72d730da7b",
      "name": "lead_designer_orchestrator_agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        320,
        0
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Design request:\\n\\n{{ $json.chatInput}}\\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are the lead designer orchestrator for Balatro card development.\nInterpret the design motivation (which may be minimal or empty) and restate the player fantasy.\nCapture core goals, constraints, and success metrics before delegating work.\nCall creativity_generator_agent first to gather 3-5 concept seeds and record selections inside conceptPlan.\nDelegate synergy exploration to joker_synergy_specialist_agent and balance simulation to run_balance_simulator_agent.\nMap synergy decisions back to packageId values supplied by joker_synergy_specialist_agent.\nEmbed the exact instructions you send to each delegate and log how you apply their outputs.\nResolve conflicting advice, documenting trade offs and selected mitigations.\nDefine a complete jokerSpec covering name, rarity, base chips, base multiplier, tags, price, and effect text.\nInclude justification tied to delegate evidence for every tuning decision.\nQuery design_conflict_verifier_agent after drafting the spec; summarize verdict and actions in verificationPlan.\nAssemble the final design dossier with conceptPlan, synergy decisions, and balance plan.\nInclude validation hooks, outstanding risks, and verification follow-ups before finalizing.\nReturn a single JSON object. Do not include commentary or code fences.\n\n---------------------------------------------------\n\n# Balatro Game Knowledge\n\n## Balatro Game Mechanics and Rules\n\nThis document summarizes the core gameplay mechanics, scoring system, and card interactions for Balatro.\nUse these rules to ensure that generated joker designs remain consistent with the game's existing mechanics.\n\n---\n\n## 1. Run Structure and Game Flow\n\n- Genre: Single-player roguelike deck builder based on poker.\n- Run composition: Each run is divided into antes, and each ante has three blinds - small, big, and boss.\n- Goal: Play poker hands to reach the target score set by each blind.\n- Limits: Each blind gives a fixed number of hands and discards.\n  If the player runs out before hitting the target, the run ends.\n- Rewards: Defeating a blind grants cash and transitions to a shop.\n  Players can buy booster packs, jokers, and vouchers there.\n  Unspent cash earns interest after each blind.\n- Progression: A normal run ends after the boss blind of Ante 8, awarding the Finisher title.\n  Endless mode continues beyond Ante 8.\n- Starting deck: Standard 52-card deck (2-10, J, Q, K, A in four suits).\n  Decks can be modified by Tarot, Planet, and Spectral cards.\n\n---\n\n## 2. Poker Hands and Scoring\n\nBalatro scoring follows standard poker hands.\nEach hand awards Chips and Mult - the product determines the score.\nAfter each hand, Chips and Mult reset.\n\n### 2.1 Base Chip and Mult Values\n\n| Hand Type        | Base Chips | Base Mult |\n|------------------|-------------|-----------|\n| High Card        | 5           | \u00d71        |\n| Pair             | 10          | \u00d72        |\n| Two Pair         | 20          | \u00d72        |\n| Three of a Kind  | 30          | \u00d73        |\n| Straight         | 30          | \u00d74        |\n| Flush            | 35          | \u00d74        |\n| Full House       | 40          | \u00d74        |\n| Four of a Kind   | 60          | \u00d77        |\n| Straight Flush   | 100         | \u00d78        |\n\nHands start at level 1 and can be upgraded with Planet cards.\nThese upgrades increase chip and mult values.\n\n### 2.2 Chips and Card Values\n\n- Chips \u00d7 Mult = Score.\n- Base chip values by card rank:\n  - 2-10 -> face value.\n  - J, Q, K -> 10 chips.\n  - A -> 11 chips.\n- Modifiers:\n  - Bonus cards: +30 chips.\n  - Stone cards: Add chip multipliers or special effects.\n\n### 2.3 Mult and Mult Cards\n\n- Mult is the multiplier applied to total chips.\n- Example: 100 chips \u00d7 3 Mult = 300 points.\n- Mult Cards are one of eight enhancement types.\n  - When played, they grant +4 Mult in addition to chip value.\n  - Example: Mult Card Seven of Hearts = 7 chips + 4 Mult.\n- Additive vs Multiplicative Mult:\n  - Additive (+) adds flat Mult, e.g., +2 Mult.\n  - Multiplicative (\u00d7) multiplies existing Mult, e.g., \u00d72.\n  - Strategy: Prioritize flat Mult early, then Chips, then apply \u00d7Mult effects last.\n\n---\n\n## 3. Jokers\n\n- Special cards obtained in shops or booster packs.\n- Modify Chips, Mult, or other game parameters.\n- Can trigger on specific events such as play, discard, or scoring.\n- Variants:\n  - Foil (+50% chips).\n  - Holographic (+1 Mult).\n  - Polychrome (\u00d71.5 Mult).\n  - Negative (+1 Joker slot).\n- Effects stack with base joker abilities.\n- Total at launch: 150 Joker cards.\n- These are the core mechanic for high-score synergy via chip, mult, and multiplicative combos.\n\n---\n\n## 4. Planet, Tarot, and Spectral Cards\n\n- Planet Cards upgrade levels of specific poker hands (High Card -> Straight Flush).\n  Playing one increases that hand's level for future scoring.\n- Tarot Cards modify deck composition.\n  They can add, remove, or enhance cards, such as converting to Mult or Stone cards.\n- Spectral Cards deliver one-time powerful effects like destroy, transform, or upgrade.\n  Some alter shop prices or provide unique modifiers.\n\n---\n\n## 5. Deck Modifications and Unique Hands\n\n- Deck edits allow non-traditional hands such as Five of a Kind, Flush House, and Straight Flush Five.\n- The game engine recognizes and scores these hands properly.\n- Alternative Decks and Stakes from updates change starting conditions and difficulty.\n  These variants are optional but non-core.\n\n---\n\n## 6. End Conditions and Endless Mode\n\n- A run ends if the target score is not met within the hand or discard limit.\n- Beating the boss blind of Ante 8 grants the Finisher title.\n- Endless Mode continues beyond Ante 8 with escalating targets.\n"
        }
      },
      "retryOnFail": true,
      "waitBetweenTries": 100
    },
    {
      "id": "85b640b4-184b-5bd0-8208-e42c9fbcda9b",
      "name": "When clicking execute workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {}
    },
    {
      "id": "cb7b3452-b30b-5ca4-a25b-3c807ea32804",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        -240
      ],
      "parameters": {
        "path": "co-designer",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "webhookId": "fb0dfe98-3201-4faf-81a2-61606c5e6207"
    }
  ],
  "connections": {
    "parser__creativity_generator_agent": {
      "ai_outputParser": [
        [
          {
            "node": "creativity_generator_agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "lm__creativity_generator_agent": {
      "ai_languageModel": [
        [
          {
            "node": "creativity_generator_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "creativity_generator_agent": {
      "ai_tool": [
        [
          {
            "node": "lead_designer_orchestrator_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "parser__joker_synergy_specialist_agent": {
      "ai_outputParser": [
        [
          {
            "node": "joker_synergy_specialist_agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "lm__joker_synergy_specialist_agent": {
      "ai_languageModel": [
        [
          {
            "node": "joker_synergy_specialist_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "joker_synergy_specialist_agent": {
      "ai_tool": [
        [
          {
            "node": "lead_designer_orchestrator_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "parser__run_balance_simulator_agent": {
      "ai_outputParser": [
        [
          {
            "node": "run_balance_simulator_agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "lm__run_balance_simulator_agent": {
      "ai_languageModel": [
        [
          {
            "node": "run_balance_simulator_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "run_balance_simulator_agent": {
      "ai_tool": [
        [
          {
            "node": "lead_designer_orchestrator_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "parser__design_conflict_verifier_agent": {
      "ai_outputParser": [
        [
          {
            "node": "design_conflict_verifier_agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "lm__design_conflict_verifier_agent": {
      "ai_languageModel": [
        [
          {
            "node": "design_conflict_verifier_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "design_conflict_verifier_agent": {
      "ai_tool": [
        [
          {
            "node": "lead_designer_orchestrator_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "parser__lead_designer_orchestrator_agent": {
      "ai_outputParser": [
        [
          {
            "node": "lead_designer_orchestrator_agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "lm__lead_designer_orchestrator_agent": {
      "ai_languageModel": [
        [
          {
            "node": "lead_designer_orchestrator_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking execute workflow": {
      "main": [
        [
          {
            "node": "lead_designer_orchestrator_agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "lead_designer_orchestrator_agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3d6b1665-0714-47cc-8ece-b02bc6e9e133",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d5d9170e32fb6d69210f48d56786d762236eefabfcbee76ba1ba6fdab2d8c102"
  },
  "id": "04jxiWVQXJocxEVU",
  "tags": []
}
