co_game_designer_agent_specs/co-designer-workflow.json
{
  "name": "co-designer",
  "nodes": [
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"Joker Synergy Specialist Agent Output\",\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"globalObservations\": {\n      \"default\": [],\n      \"description\": \"High-level notes about the joker concept and metagame context.\",\n      \"examples\": [\n        \"Discard-focused decks lack payoff unless paired with piston jokers.\"\n      ],\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"type\": \"array\"\n    },\n    \"risks\": {\n      \"default\": [],\n      \"description\": \"Potential pitfalls or incompatibilities discovered during the analysis.\",\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"description\": {\n            \"description\": \"What could go wrong if the package is adopted.\",\n            \"examples\": [\n              \"Stacking with Madness joker doubles the multiplier curve.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"mitigation\": {\n            \"description\": \"Suggested guardrail or monitoring plan.\",\n            \"examples\": [\n              \"Cap base chips at 40 when paired with Madness.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"riskId\": {\n            \"description\": \"Identifier for cross-agent traceability.\",\n            \"examples\": [\n              \"risk-madness-overlap\"\n            ],\n            \"type\": \"string\"\n          },\n          \"severity\": {\n            \"description\": \"Relative severity label.\",\n            \"enum\": [\n              \"low\",\n              \"medium\",\n              \"high\"\n            ],\n            \"examples\": [\n              \"high\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"description\",\n          \"mitigation\",\n          \"riskId\",\n          \"severity\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    },\n    \"summary\": {\n      \"description\": \"One-paragraph synthesis of the joker synergy landscape.\",\n      \"examples\": [\n        \"Discard engines gain the most, provided economy levers offset the multiplier spike.\"\n      ],\n      \"type\": \"string\"\n    },\n    \"supportingResearch\": {\n      \"default\": [],\n      \"description\": \"Pointers to experiments, spreadsheets, or references used in the analysis.\",\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"description\": {\n            \"description\": \"Why the source matters for this recommendation.\",\n            \"examples\": [\n              \"Win-rate logs from week 34 patch.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"link\": {\n            \"description\": \"Optional URL or file path if accessible.\",\n            \"examples\": [\n              \"experiments/synergy_runs/week34.md\"\n            ],\n            \"type\": \"string\"\n          },\n          \"sourceId\": {\n            \"description\": \"Unique identifier for the research artifact.\",\n            \"examples\": [\n              \"exp-34-discard-logs\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"description\",\n          \"sourceId\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    },\n    \"synergyPackages\": {\n      \"default\": [],\n      \"description\": \"Ranked synergy packages with quantitative expectations.\",\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"description\": {\n            \"description\": \"How the synergy behaves and what gameplay it unlocks.\",\n            \"examples\": [\n              \"Chain discards with Flush House to convert draw cycles into chip bursts.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"enablingCards\": {\n            \"default\": [],\n            \"description\": \"Cards, jokers, or consumables required to realize the package.\",\n            \"items\": {\n              \"type\": \"string\"\n            },\n            \"type\": \"array\"\n          },\n          \"expectedChips\": {\n            \"description\": \"Expected chip gain by ante 6 under optimal play.\",\n            \"examples\": [\n              280\n            ],\n            \"minimum\": 0,\n            \"type\": \"number\"\n          },\n          \"expectedMultiplier\": {\n            \"description\": \"Expected multiplier value by ante 6.\",\n            \"examples\": [\n              18\n            ],\n            \"minimum\": 0,\n            \"type\": \"number\"\n          },\n          \"name\": {\n            \"description\": \"Short name for the synergy package.\",\n            \"examples\": [\n              \"Discard Dynamo\"\n            ],\n            \"type\": \"string\"\n          },\n          \"packageId\": {\n            \"description\": \"Stable identifier used by the orchestrator when referencing this package.\",\n            \"examples\": [\n              \"SP-02\"\n            ],\n            \"type\": \"string\"\n          },\n          \"rarityFit\": {\n            \"description\": \"Best-fit joker rarity for balance.\",\n            \"enum\": [\n              \"common\",\n              \"uncommon\",\n              \"rare\",\n              \"legendary\"\n            ],\n            \"examples\": [\n              \"rare\"\n            ],\n            \"type\": \"string\"\n          },\n          \"setupSequence\": {\n            \"default\": [],\n            \"description\": \"Ordered steps or milestones to assemble the synergy.\",\n            \"items\": {\n              \"type\": \"string\"\n            },\n            \"type\": \"array\"\n          },\n          \"tuningNotes\": {\n            \"description\": \"Suggestions to tweak numbers or effects for this package.\",\n            \"examples\": [\n              \"Limit joker activation to once per round.\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"description\",\n          \"enablingCards\",\n          \"expectedChips\",\n          \"expectedMultiplier\",\n          \"name\",\n          \"packageId\",\n          \"rarityFit\",\n          \"setupSequence\",\n          \"tuningNotes\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    }\n  },\n  \"required\": [\n    \"globalObservations\",\n    \"risks\",\n    \"summary\",\n    \"supportingResearch\",\n    \"synergyPackages\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1264,
        288
      ],
      "id": "130d80a6-e20f-4193-830e-fd18b59ce361",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {
          "maxTokens": -1,
          "reasoningEffort": "medium",
          "timeout": 300000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1120,
        288
      ],
      "id": "5f405807-43b1-4972-b146-8c090429ba62",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "1lkBcOr7FVmY5bn6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Ranks Balatro joker synergies, quantifies outputs, and surfaces interaction risks.",
        "text": "=You evaluate Balatro joker concepts for synergy potential.\nRead the orchestrator brief, honoring banned components and desired archetypes.\nRank synergy packages with packageId, name, description, rarity fit, enabling cards, setup sequence, and tuning notes.\nProvide expected chip and multiplier values by ante 6 and highlight fragile interactions.\nList global observations, high-severity risks with mitigations, and any supporting research references.\nReturn a single JSON object. Do not include commentary or code fences.\n\n\n\nUser request:\n\n{{ $fromAI('Prompt__User_Message_', ``, 'string') }}\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1120,
        80
      ],
      "id": "9dd797f0-5b75-413c-8ffc-585647d8484f",
      "name": "joker_synergy_specialist_agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {
          "timeout": 300000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1408,
        288
      ],
      "id": "5f10557c-7b6a-4acd-903f-f313889ce318",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "1lkBcOr7FVmY5bn6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Simulates Balatro run scenarios to stress-test balance and recommend mitigations.",
        "text": "=You simulate Balatro runs to test proposed jokers and deck adjustments.\nUse the orchestrator dossier and synergy report to set up baseline, synergy heavy, and busted scenarios.\nCapture ante progression notes, chip and multiplier trajectories, economy summary, and probability estimates.\nFlag risks per scenario and recommend mitigations when thresholds are exceeded.\nDocument assumptions, RNG seeds, and tools used so the harness can replay the runs.\nReturn a single JSON object that matches run_balance_simulator_agent.json. Do not include commentary or code fences.\n\nUser request:\n{{ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1408,
        80
      ],
      "id": "915ee530-7ca0-4e9f-a901-6b2c1bdfadae",
      "name": "run_balance_simulator_agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"Run Balance Simulator Agent Output\",\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"balanceVerdict\": {\n      \"description\": \"Overall statement about balance health across simulated runs.\",\n      \"examples\": [\n        \"Playable with mitigation; busted seeds exceed multiplier targets by ante 7.\"\n      ],\n      \"type\": \"string\"\n    },\n    \"mitigationIdeas\": {\n      \"default\": [],\n      \"description\": \"Recommended levers or follow-up actions based on simulation findings.\",\n      \"examples\": [\n        \"Add escalating shop cost after first purchase\"\n      ],\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"type\": \"array\"\n    },\n    \"scenarioReports\": {\n      \"default\": [],\n      \"description\": \"Per-scenario metrics and risk summaries.\",\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"anteProgression\": {\n            \"default\": [],\n            \"description\": \"Key milestones or breakpoints observed by ante.\",\n            \"examples\": [\n              [\n                {\n                  \"ante\": 2,\n                  \"note\": \"Economy stable\"\n                },\n                {\n                  \"ante\": 5,\n                  \"note\": \"Chip spike begins\"\n                }\n              ]\n            ],\n            \"items\": {\n              \"additionalProperties\": false,\n              \"properties\": {\n                \"ante\": {\n                  \"description\": \"Ante number for the observation.\",\n                  \"examples\": [\n                    5\n                  ],\n                  \"minimum\": 1,\n                  \"type\": \"integer\"\n                },\n                \"note\": {\n                  \"description\": \"What happens at this ante milestone.\",\n                  \"examples\": [\n                    \"Player reliably clears blinds with 2 hands.\"\n                  ],\n                  \"type\": \"string\"\n                }\n              },\n              \"required\": [\n                \"ante\",\n                \"note\"\n              ],\n              \"type\": \"object\"\n            },\n            \"type\": \"array\"\n          },\n          \"chipTrajectory\": {\n            \"default\": [],\n            \"description\": \"Estimated chip outputs per ante for the scenario.\",\n            \"examples\": [\n              [\n                {\n                  \"ante\": 3,\n                  \"chips\": 120\n                },\n                {\n                  \"ante\": 6,\n                  \"chips\": 320\n                }\n              ]\n            ],\n            \"items\": {\n              \"additionalProperties\": false,\n              \"properties\": {\n                \"ante\": {\n                  \"description\": \"Ante at which the chip estimate applies.\",\n                  \"examples\": [\n                    6\n                  ],\n                  \"minimum\": 1,\n                  \"type\": \"integer\"\n                },\n                \"chips\": {\n                  \"description\": \"Estimated chip output for a typical winning hand.\",\n                  \"examples\": [\n                    280\n                  ],\n                  \"minimum\": 0,\n                  \"type\": \"number\"\n                }\n              },\n              \"required\": [\n                \"ante\",\n                \"chips\"\n              ],\n              \"type\": \"object\"\n            },\n            \"type\": \"array\"\n          },\n          \"economySummary\": {\n            \"description\": \"Overview of money flow, shop purchases, and scarcity pressures.\",\n            \"examples\": [\n              \"Baseline survives with 12$ buffer; busted run prints infinite cash via coupon loop.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"multiplierTrajectory\": {\n            \"default\": [],\n            \"description\": \"Estimated multiplier values per ante.\",\n            \"examples\": [\n              [\n                {\n                  \"ante\": 4,\n                  \"multiplier\": 9\n                },\n                {\n                  \"ante\": 7,\n                  \"multiplier\": 22\n                }\n              ]\n            ],\n            \"items\": {\n              \"additionalProperties\": false,\n              \"properties\": {\n                \"ante\": {\n                  \"description\": \"Ante at which the multiplier applies.\",\n                  \"examples\": [\n                    7\n                  ],\n                  \"minimum\": 1,\n                  \"type\": \"integer\"\n                },\n                \"multiplier\": {\n                  \"description\": \"Estimated multiplier for the scenario.\",\n                  \"examples\": [\n                    18\n                  ],\n                  \"minimum\": 0,\n                  \"type\": \"number\"\n                }\n              },\n              \"required\": [\n                \"ante\",\n                \"multiplier\"\n              ],\n              \"type\": \"object\"\n            },\n            \"type\": \"array\"\n          },\n          \"probabilityEstimate\": {\n            \"description\": \"Rough likelihood of assembling the scenario conditions.\",\n            \"examples\": [\n              \"moderate\"\n            ],\n            \"enum\": [\n              \"low\",\n              \"moderate\",\n              \"high\"\n            ],\n            \"type\": \"string\"\n          },\n          \"riskNotes\": {\n            \"default\": [],\n            \"description\": \"Risks or anomalies observed in the scenario.\",\n            \"examples\": [\n              [\n                \"Multiplier snowballs if Madness also present\"\n              ]\n            ],\n            \"items\": {\n              \"type\": \"string\"\n            },\n            \"type\": \"array\"\n          },\n          \"scenarioName\": {\n            \"description\": \"Descriptor for the simulated scenario.\",\n            \"examples\": [\n              \"Baseline discard deck\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"anteProgression\",\n          \"chipTrajectory\",\n          \"economySummary\",\n          \"multiplierTrajectory\",\n          \"probabilityEstimate\",\n          \"riskNotes\",\n          \"scenarioName\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    },\n    \"simulationMetadata\": {\n      \"description\": \"Assumptions, tool versions, and data sources underpinning the simulation.\",\n      \"examples\": [\n        {\n          \"assumptions\": [\n            \"Player uses optimal discard lines\",\n            \"Shop offers average rarity distribution\"\n          ],\n          \"rngSeeds\": [\n            \"baseline-seed-103\",\n            \"synergy-seed-227\",\n            \"busted-seed-404\"\n          ],\n          \"tools\": [\n            \"BALATRO_RUN_SIM v1.2\"\n          ]\n        }\n      ],\n      \"properties\": {\n        \"assumptions\": {\n          \"default\": [],\n          \"description\": \"Key assumptions that affect interpretation of the results.\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        },\n        \"rngSeeds\": {\n          \"default\": [],\n          \"description\": \"Named seeds or RNG notes for reproducibility.\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        },\n        \"tools\": {\n          \"default\": [],\n          \"description\": \"Simulation tools or scripts used to produce the report.\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        }\n      },\n      \"required\": [\n        \"assumptions\",\n        \"rngSeeds\",\n        \"tools\"\n      ],\n      \"type\": \"object\"\n    },\n    \"summary\": {\n      \"description\": \"Concise narration of what the simulations revealed.\",\n      \"examples\": [\n        \"Synergy-heavy runs demand higher rarity gate; busted loops require cost scaling.\"\n      ],\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"balanceVerdict\",\n    \"mitigationIdeas\",\n    \"scenarioReports\",\n    \"simulationMetadata\",\n    \"summary\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1552,
        288
      ],
      "id": "b83fb8d1-5c98-49e8-b761-30abc2a9e229",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Design request:\n\n{{ $json.chatInput}}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are the lead designer orchestrator for Balatro card development.\nInterpret the design motivation (which may be minimal or empty) and restate the player fantasy.\nCapture core goals, constraints, and success metrics before delegating work.\nCall creativity_generator_agent first to gather 3-5 concept seeds and record selections inside conceptPlan.\nDelegate synergy exploration to joker_synergy_specialist_agent and balance simulation to run_balance_simulator_agent.\nMap synergy decisions back to packageId values supplied by joker_synergy_specialist_agent.\nEmbed the exact instructions you send to each delegate and log how you apply their outputs.\nResolve conflicting advice, documenting trade offs and selected mitigations.\nDefine a complete jokerSpec covering name, rarity, base chips, base multiplier, tags, price, and effect text.\nInclude justification tied to delegate evidence for every tuning decision.\nQuery design_conflict_verifier_agent after drafting the spec; summarize verdict and actions in verificationPlan.\nAssemble the final design dossier with conceptPlan, synergy decisions, and balance plan.\nInclude validation hooks, outstanding risks, and verification follow-ups before finalizing.\nReturn a single JSON object. Do not include commentary or code fences.\n\n---------------------------------------------------\n\n# Balatro Game Knowledge\n\n## Balatro Game Mechanics and Rules\n\nThis document summarizes the core gameplay mechanics, scoring system, and card interactions for Balatro.\nUse these rules to ensure that generated joker designs remain consistent with the game's existing mechanics.\n\n---\n\n## 1. Run Structure and Game Flow\n\n- Genre: Single-player roguelike deck builder based on poker.\n- Run composition: Each run is divided into antes, and each ante has three blinds - small, big, and boss.\n- Goal: Play poker hands to reach the target score set by each blind.\n- Limits: Each blind gives a fixed number of hands and discards.\n  If the player runs out before hitting the target, the run ends.\n- Rewards: Defeating a blind grants cash and transitions to a shop.\n  Players can buy booster packs, jokers, and vouchers there.\n  Unspent cash earns interest after each blind.\n- Progression: A normal run ends after the boss blind of Ante 8, awarding the Finisher title.\n  Endless mode continues beyond Ante 8.\n- Starting deck: Standard 52-card deck (2-10, J, Q, K, A in four suits).\n  Decks can be modified by Tarot, Planet, and Spectral cards.\n\n---\n\n## 2. Poker Hands and Scoring\n\nBalatro scoring follows standard poker hands.\nEach hand awards Chips and Mult - the product determines the score.\nAfter each hand, Chips and Mult reset.\n\n### 2.1 Base Chip and Mult Values\n\n| Hand Type        | Base Chips | Base Mult |\n|------------------|-------------|-----------|\n| High Card        | 5           | \u00d71        |\n| Pair             | 10          | \u00d72        |\n| Two Pair         | 20          | \u00d72        |\n| Three of a Kind  | 30          | \u00d73        |\n| Straight         | 30          | \u00d74        |\n| Flush            | 35          | \u00d74        |\n| Full House       | 40          | \u00d74        |\n| Four of a Kind   | 60          | \u00d77        |\n| Straight Flush   | 100         | \u00d78        |\n\nHands start at level 1 and can be upgraded with Planet cards.\nThese upgrades increase chip and mult values.\n\n### 2.2 Chips and Card Values\n\n- Chips \u00d7 Mult = Score.\n- Base chip values by card rank:\n  - 2-10 -> face value.\n  - J, Q, K -> 10 chips.\n  - A -> 11 chips.\n- Modifiers:\n  - Bonus cards: +30 chips.\n  - Stone cards: Add chip multipliers or special effects.\n\n### 2.3 Mult and Mult Cards\n\n- Mult is the multiplier applied to total chips.\n- Example: 100 chips \u00d7 3 Mult = 300 points.\n- Mult Cards are one of eight enhancement types.\n  - When played, they grant +4 Mult in addition to chip value.\n  - Example: Mult Card Seven of Hearts = 7 chips + 4 Mult.\n- Additive vs Multiplicative Mult:\n  - Additive (+) adds flat Mult, e.g., +2 Mult.\n  - Multiplicative (\u00d7) multiplies existing Mult, e.g., \u00d72.\n  - Strategy: Prioritize flat Mult early, then Chips, then apply \u00d7Mult effects last.\n\n---\n\n## 3. Jokers\n\n- Special cards obtained in shops or booster packs.\n- Modify Chips, Mult, or other game parameters.\n- Can trigger on specific events such as play, discard, or scoring.\n- Variants:\n  - Foil (+50% chips).\n  - Holographic (+1 Mult).\n  - Polychrome (\u00d71.5 Mult).\n  - Negative (+1 Joker slot).\n- Effects stack with base joker abilities.\n- Total at launch: 150 Joker cards.\n- These are the core mechanic for high-score synergy via chip, mult, and multiplicative combos.\n\n---\n\n## 4. Planet, Tarot, and Spectral Cards\n\n- Planet Cards upgrade levels of specific poker hands (High Card -> Straight Flush).\n  Playing one increases that hand's level for future scoring.\n- Tarot Cards modify deck composition.\n  They can add, remove, or enhance cards, such as converting to Mult or Stone cards.\n- Spectral Cards deliver one-time powerful effects like destroy, transform, or upgrade.\n  Some alter shop prices or provide unique modifiers.\n\n---\n\n## 5. Deck Modifications and Unique Hands\n\n- Deck edits allow non-traditional hands such as Five of a Kind, Flush House, and Straight Flush Five.\n- The game engine recognizes and scores these hands properly.\n- Alternative Decks and Stakes from updates change starting conditions and difficulty.\n  These variants are optional but non-core.\n\n---\n\n## 6. End Conditions and Endless Mode\n\n- A run ends if the target score is not met within the hand or discard limit.\n- Beating the boss blind of Ante 8 grants the Finisher title.\n- Endless Mode continues beyond Ante 8 with escalating targets.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1280,
        -144
      ],
      "id": "2e8d5a59-d2fa-43e4-855d-334d59ac2a51",
      "name": "AI Agent1",
      "retryOnFail": true,
      "waitBetweenTries": 100
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"Lead Designer Orchestrator Agent Output\",\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"balancePlan\": {\n      \"description\": \"Summary of balance adjustments and mitigations coordinated with the simulator findings.\",\n      \"examples\": [\n        {\n          \"globalVerdict\": \"Keep joker rare; cap multiplier growth by ante 6.\",\n          \"mitigations\": [\n            \"Gate effect behind discard cost scaling\",\n            \"Increase shop price by 2x baseline\"\n          ],\n          \"rationale\": \"Simulator flagged runaway econ in busted seed.\"\n        }\n      ],\n      \"properties\": {\n        \"globalVerdict\": {\n          \"description\": \"Single sentence verdict on balance viability.\",\n          \"examples\": [\n            \"Balanced with mitigation applied to econ scaling.\"\n          ],\n          \"type\": \"string\"\n        },\n        \"mitigations\": {\n          \"default\": [],\n          \"description\": \"Concrete balance levers to apply or monitor.\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        },\n        \"rationale\": {\n          \"description\": \"Key simulator evidence supporting the verdict.\",\n          \"examples\": [\n            \"Baseline run safe; busted run needs ante 5 cap.\"\n          ],\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\n        \"globalVerdict\",\n        \"mitigations\",\n        \"rationale\"\n      ],\n      \"type\": \"object\"\n    },\n    \"conceptPlan\": {\n      \"description\": \"How the orchestrator curates idea seeds from the creativity generator.\",\n      \"properties\": {\n        \"divergentAxes\": {\n          \"default\": [],\n          \"description\": \"Axes from the generator output that informed selection decisions.\",\n          \"examples\": [\n            [\n              \"Discard tempo\",\n              \"Economy burst\",\n              \"Scaling restraint\"\n            ]\n          ],\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        },\n        \"notes\": {\n          \"description\": \"Narrative summary of how ideation output was applied.\",\n          \"examples\": [\n            \"Adopted discard tempo seed; parking endless scaling due to balance risk.\"\n          ],\n          \"type\": \"string\"\n        },\n        \"selectedIdeas\": {\n          \"default\": [],\n          \"description\": \"Decisions made on individual idea seeds.\",\n          \"items\": {\n            \"additionalProperties\": false,\n            \"properties\": {\n              \"decision\": {\n                \"description\": \"Disposition for the idea seed.\",\n                \"enum\": [\n                  \"adopt\",\n                  \"iterate\",\n                  \"drop\"\n                ],\n                \"examples\": [\n                  \"adopt\"\n                ],\n                \"type\": \"string\"\n              },\n              \"delegateReference\": {\n                \"description\": \"Identifier or path referring to the generator output.\",\n                \"examples\": [\n                  \"creativity_report#IDEA-01\"\n                ],\n                \"type\": \"string\"\n              },\n              \"ideaId\": {\n                \"description\": \"Idea identifier supplied by the creativity generator.\",\n                \"examples\": [\n                  \"IDEA-01\"\n                ],\n                \"type\": \"string\"\n              },\n              \"rationale\": {\n                \"description\": \"Reasoning behind the decision and downstream implications.\",\n                \"examples\": [\n                  \"Adopt to reward discard tempo; loop balance with Banner risk noted.\"\n                ],\n                \"type\": \"string\"\n              },\n              \"title\": {\n                \"description\": \"Idea seed title for readability.\",\n                \"examples\": [\n                  \"Cache King\"\n                ],\n                \"type\": \"string\"\n              }\n            },\n            \"required\": [\n              \"decision\",\n              \"delegateReference\",\n              \"ideaId\",\n              \"rationale\",\n              \"title\"\n            ],\n            \"type\": \"object\"\n          },\n          \"type\": \"array\"\n        }\n      },\n      \"required\": [\n        \"divergentAxes\",\n        \"notes\",\n        \"selectedIdeas\"\n      ],\n      \"type\": \"object\"\n    },\n    \"delegationLog\": {\n      \"default\": [],\n      \"description\": \"Chronological log of subordinate agent calls and how outputs were used.\",\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"decisionImpact\": {\n            \"description\": \"Consequence of the delegate's output on the overall plan.\",\n            \"examples\": [\n              \"Adopted synergy package SP-02 as primary path.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"outputReference\": {\n            \"description\": \"Identifier or file path pointing to the stored delegate result.\",\n            \"examples\": [\n              \"synergy_report#SP-02\"\n            ],\n            \"type\": \"string\"\n          },\n          \"promptExcerpt\": {\n            \"description\": \"Key instructions sent to the subordinate agent.\",\n            \"examples\": [\n              \"Rank joker synergies for discard-centric decks.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"tool\": {\n            \"description\": \"Name of the subordinate agent or tool invoked.\",\n            \"examples\": [\n              \"joker_synergy_specialist_agent\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"decisionImpact\",\n          \"outputReference\",\n          \"promptExcerpt\",\n          \"tool\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    },\n    \"designSummary\": {\n      \"description\": \"Concise recap of the design intent and success criteria.\",\n      \"examples\": [\n        {\n          \"coreGoal\": \"Deliver a joker that scales discard-based straights into late antes.\",\n          \"notableConstraints\": [\n            \"Must not break daily challenge balance\",\n            \"Keep rarity at Legendary\"\n          ],\n          \"playerFantasy\": \"Reward high-skill sequencing with escalating payoff\",\n          \"successMetrics\": [\n            \"Win rate +5% over discard decks\",\n            \"Maintain ante 8 clear rate parity\"\n          ]\n        }\n      ],\n      \"properties\": {\n        \"coreGoal\": {\n          \"description\": \"Primary gameplay objective for the design.\",\n          \"examples\": [\n            \"Enable discard decks to spike chips without infinite loops.\"\n          ],\n          \"type\": \"string\"\n        },\n        \"notableConstraints\": {\n          \"default\": [],\n          \"description\": \"Hard constraints or banned elements supplied in the brief.\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        },\n        \"playerFantasy\": {\n          \"description\": \"Flavor-forward articulation of the player experience.\",\n          \"examples\": [\n            \"Feeling like a card shark stacking discards into jackpots.\"\n          ],\n          \"type\": \"string\"\n        },\n        \"successMetrics\": {\n          \"default\": [],\n          \"description\": \"Quantifiable indicators of success aligned with Balatro metrics.\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        }\n      },\n      \"required\": [\n        \"coreGoal\",\n        \"notableConstraints\",\n        \"playerFantasy\",\n        \"successMetrics\"\n      ],\n      \"type\": \"object\"\n    },\n    \"jokerSpec\": {\n      \"description\": \"Finalized joker card definition ready for implementation review.\",\n      \"examples\": [\n        {\n          \"baseChips\": 20,\n          \"baseMultiplier\": 2,\n          \"effectText\": \"Gain +4 Mult for each discarded straight this round.\",\n          \"jokerName\": \"Straight Razor\",\n          \"justification\": \"Leverages discard synergy while simulator mitigations keep busted seeds in check.\",\n          \"price\": 16,\n          \"rarity\": \"rare\",\n          \"tags\": [\n            \"discard\",\n            \"straight\"\n          ],\n          \"unlockCondition\": \"Win a run using at least 30 discarded straights.\"\n        }\n      ],\n      \"properties\": {\n        \"baseChips\": {\n          \"description\": \"Base chip value granted by the joker.\",\n          \"examples\": [\n            20\n          ],\n          \"minimum\": 0,\n          \"type\": \"number\"\n        },\n        \"baseMultiplier\": {\n          \"description\": \"Base multiplier granted by the joker.\",\n          \"examples\": [\n            2\n          ],\n          \"minimum\": 0,\n          \"type\": \"number\"\n        },\n        \"effectText\": {\n          \"description\": \"Player-facing Balatro rules text describing the joker effect.\",\n          \"examples\": [\n            \"Gain +4 Mult for each discarded straight this round.\"\n          ],\n          \"type\": \"string\"\n        },\n        \"jokerName\": {\n          \"description\": \"Display name of the joker card.\",\n          \"examples\": [\n            \"Straight Razor\"\n          ],\n          \"type\": \"string\"\n        },\n        \"justification\": {\n          \"description\": \"Evidence-backed rationale referencing delegate findings and balance outcomes.\",\n          \"examples\": [\n            \"Synergy package SP-02 drives discard loops; simulator shows safe growth with price hike.\"\n          ],\n          \"type\": \"string\"\n        },\n        \"price\": {\n          \"description\": \"Shop price recommendation for the joker in dollars.\",\n          \"examples\": [\n            16\n          ],\n          \"minimum\": 0,\n          \"type\": \"number\"\n        },\n        \"rarity\": {\n          \"description\": \"Recommended rarity tier for the joker.\",\n          \"enum\": [\n            \"common\",\n            \"uncommon\",\n            \"rare\",\n            \"legendary\"\n          ],\n          \"examples\": [\n            \"rare\"\n          ],\n          \"type\": \"string\"\n        },\n        \"tags\": {\n          \"default\": [],\n          \"description\": \"Keywords summarizing archetypes, mechanics, or hooks.\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        },\n        \"unlockCondition\": {\n          \"description\": \"Optional condition for unlocking the joker, if applicable.\",\n          \"examples\": [\n            \"Win a run using at least 30 discarded straights.\"\n          ],\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\n        \"baseChips\",\n        \"baseMultiplier\",\n        \"effectText\",\n        \"jokerName\",\n        \"justification\",\n        \"price\",\n        \"rarity\",\n        \"tags\"\n      ],\n      \"type\": \"object\"\n    },\n    \"openRisks\": {\n      \"default\": [],\n      \"description\": \"Outstanding questions or threats that need follow-up.\",\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"notes\": {\n            \"description\": \"Relevant context or mitigation ideas.\",\n            \"examples\": [\n              \"Requires confirmation from community telemetry.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"owner\": {\n            \"description\": \"Person or role accountable for resolving the risk.\",\n            \"examples\": [\n              \"QA lead\"\n            ],\n            \"type\": \"string\"\n          },\n          \"riskId\": {\n            \"description\": \"Unique identifier for cross-agent tracking.\",\n            \"examples\": [\n              \"risk-ante6-econ\"\n            ],\n            \"type\": \"string\"\n          },\n          \"severity\": {\n            \"description\": \"Relative severity label.\",\n            \"enum\": [\n              \"low\",\n              \"medium\",\n              \"high\"\n            ],\n            \"examples\": [\n              \"high\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"notes\",\n          \"owner\",\n          \"riskId\",\n          \"severity\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    },\n    \"synergyPlan\": {\n      \"default\": [],\n      \"description\": \"How the orchestrator will incorporate synergy packages into the design.\",\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"integrationDecision\": {\n            \"description\": \"Adopt, modify, or reject decision for the package.\",\n            \"enum\": [\n              \"adopt\",\n              \"modify\",\n              \"reject\"\n            ],\n            \"examples\": [\n              \"adopt\"\n            ],\n            \"type\": \"string\"\n          },\n          \"notes\": {\n            \"description\": \"Reasoning behind the decision and instructions for implementation.\",\n            \"examples\": [\n              \"Adopt with cap; ensure shop scaling matches ante 6 targets.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"packageId\": {\n            \"description\": \"Identifier referencing the synergy specialist output.\",\n            \"examples\": [\n              \"SP-02\"\n            ],\n            \"type\": \"string\"\n          },\n          \"sourceAgent\": {\n            \"description\": \"Name of the agent providing the package.\",\n            \"examples\": [\n              \"joker_synergy_specialist_agent\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"integrationDecision\",\n          \"notes\",\n          \"packageId\",\n          \"sourceAgent\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    },\n    \"validationHooks\": {\n      \"description\": \"Testing and instrumentation guidance for future automation or QA.\",\n      \"examples\": [\n        {\n          \"harnessSeeds\": [\n            \"baseline-seed-103\",\n            \"synergy-seed-227\",\n            \"busted-seed-404\"\n          ],\n          \"metrics\": [\n            \"chipsPerAnte\",\n            \"multiplierVariance\"\n          ],\n          \"nextSteps\": [\n            \"Record simulator screenshots\",\n            \"Schedule QA deck review\"\n          ]\n        }\n      ],\n      \"properties\": {\n        \"harnessSeeds\": {\n          \"default\": [],\n          \"description\": \"Named seeds or scenario IDs to replay in the harness.\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        },\n        \"metrics\": {\n          \"default\": [],\n          \"description\": \"Metrics to monitor when executing validation runs.\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        },\n        \"nextSteps\": {\n          \"default\": [],\n          \"description\": \"Actionable follow-ups for humans or other agents.\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        }\n      },\n      \"required\": [\n        \"harnessSeeds\",\n        \"metrics\",\n        \"nextSteps\"\n      ],\n      \"type\": \"object\"\n    },\n    \"verificationPlan\": {\n      \"description\": \"Summary of the verification pass and resulting follow-up actions.\",\n      \"properties\": {\n        \"blockedItems\": {\n          \"default\": [],\n          \"description\": \"Identifiers from the verifier that remain blocked.\",\n          \"examples\": [\n            [\n              \"IDEA-02\",\n              \"jokerSpec\"\n            ]\n          ],\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        },\n        \"followUpActions\": {\n          \"default\": [],\n          \"description\": \"Actions assigned in response to verifier findings.\",\n          \"examples\": [\n            [\n              \"Revise discard trigger to once per blind\",\n              \"Re-run balance sim after rarity update\"\n            ]\n          ],\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"type\": \"array\"\n        },\n        \"verifierReference\": {\n          \"description\": \"Link or identifier of the verifier output for traceability.\",\n          \"examples\": [\n            \"verification_report#CONF-01\"\n          ],\n          \"type\": \"string\"\n        },\n        \"verifierStatus\": {\n          \"description\": \"Overall verdict from the verification agent.\",\n          \"enum\": [\n            \"approved\",\n            \"changesRequested\",\n            \"blocked\"\n          ],\n          \"examples\": [\n            \"changesRequested\"\n          ],\n          \"type\": \"string\"\n        },\n        \"verifierSummary\": {\n          \"description\": \"Narrative recap of the verification outcome.\",\n          \"examples\": [\n            \"Blocked pending discard trigger cap and rarity bump.\"\n          ],\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\n        \"blockedItems\",\n        \"followUpActions\",\n        \"verifierReference\",\n        \"verifierStatus\",\n        \"verifierSummary\"\n      ],\n      \"type\": \"object\"\n    }\n  },\n  \"required\": [\n    \"balancePlan\",\n    \"conceptPlan\",\n    \"delegationLog\",\n    \"designSummary\",\n    \"jokerSpec\",\n    \"openRisks\",\n    \"synergyPlan\",\n    \"validationHooks\",\n    \"verificationPlan\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1696,
        80
      ],
      "id": "1701e6da-f9cc-41dd-bef7-f79ce19e4b05",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {
          "reasoningEffort": "high",
          "timeout": 300000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        992,
        80
      ],
      "id": "df9911ed-0b90-4dce-bfdb-e3d02a2f1f32",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "1lkBcOr7FVmY5bn6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        1024,
        -144
      ],
      "id": "9b2e525f-29aa-401f-a4bc-ddc95898ad62",
      "name": "When chat message received",
      "webhookId": "fb0dfe98-3201-4faf-81a2-61606c5e6207"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"Creativity Generator Agent Output\",\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"divergentAxes\": {\n      \"default\": [],\n      \"description\": \"Short labels describing how the idea seeds explore different directions.\",\n      \"examples\": [\n        [\n          \"Economy risk-reward\",\n          \"Discard loop disruption\",\n          \"Endless scaling cap\"\n        ]\n      ],\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"type\": \"array\"\n    },\n    \"ideaSeeds\": {\n      \"default\": [],\n      \"description\": \"Concept seeds ready for downstream analysis.\",\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"conceptPitch\": {\n            \"description\": \"One-paragraph pitch explaining the core gameplay hook.\",\n            \"examples\": [\n              \"Reward late-hand discards by caching unused mult for the boss blind.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"expectedPlaystyle\": {\n            \"description\": \"How the player will pilot the deck when this joker is active.\",\n            \"examples\": [\n              \"Aggressive discard cycling with selective hand banking.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"handoffNotes\": {\n            \"description\": \"Instructions or questions for downstream specialists.\",\n            \"examples\": [\n              \"Check balance impact if mult cache scales into endless.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"ideaId\": {\n            \"description\": \"Stable identifier used across the design workflow.\",\n            \"examples\": [\n              \"IDEA-01\"\n            ],\n            \"type\": \"string\"\n          },\n          \"noveltyHook\": {\n            \"description\": \"What makes this concept distinct from existing jokers.\",\n            \"examples\": [\n              \"Creates a delayed scoring window tied to discard restraint.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"primaryMechanics\": {\n            \"default\": [],\n            \"description\": \"Key mechanics or triggers leveraged by the concept.\",\n            \"examples\": [\n              [\n                \"discard\",\n                \"boss blind\",\n                \"mult cache\"\n              ]\n            ],\n            \"items\": {\n              \"type\": \"string\"\n            },\n            \"type\": \"array\"\n          },\n          \"referenceJokers\": {\n            \"default\": [],\n            \"description\": \"Existing jokers or effects serving as inspiration or contrast.\",\n            \"examples\": [\n              [\n                \"Gros Michel\",\n                \"Banner\"\n              ]\n            ],\n            \"items\": {\n              \"type\": \"string\"\n            },\n            \"type\": \"array\"\n          },\n          \"riskFlags\": {\n            \"default\": [],\n            \"description\": \"Potential risks or unknowns to investigate.\",\n            \"examples\": [\n              [\n                \"Mult cache might stack with Gros Michel for runaway scoring\"\n              ]\n            ],\n            \"items\": {\n              \"type\": \"string\"\n            },\n            \"type\": \"array\"\n          },\n          \"targetRarity\": {\n            \"description\": \"Suggested rarity to match power level and availability.\",\n            \"enum\": [\n              \"common\",\n              \"uncommon\",\n              \"rare\",\n              \"legendary\"\n            ],\n            \"examples\": [\n              \"rare\"\n            ],\n            \"type\": \"string\"\n          },\n          \"title\": {\n            \"description\": \"Working name for the concept seed.\",\n            \"examples\": [\n              \"Cache King\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"conceptPitch\",\n          \"expectedPlaystyle\",\n          \"handoffNotes\",\n          \"ideaId\",\n          \"noveltyHook\",\n          \"primaryMechanics\",\n          \"referenceJokers\",\n          \"riskFlags\",\n          \"targetRarity\",\n          \"title\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    },\n    \"ideationSummary\": {\n      \"description\": \"Narrative summary of the opportunity space and recommended focus.\",\n      \"examples\": [\n        \"Discard control has openings for delayed mult payouts without breaking ante pacing.\"\n      ],\n      \"type\": \"string\"\n    },\n    \"inspirationSources\": {\n      \"default\": [],\n      \"description\": \"Artifacts, research, or existing jokers referenced during ideation.\",\n      \"examples\": [\n        [\n          {\n            \"description\": \"Banner highlights discard reward patterns relevant to Cache King.\",\n            \"link\": \"co_game_designer_agent_specs/all_jokers.md#22\",\n            \"sourceId\": \"joker-banner\",\n            \"type\": \"joker\"\n          }\n        ]\n      ],\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"description\": {\n            \"description\": \"Why the source matters for this concept.\",\n            \"examples\": [\n              \"Week 31 metagame notes show discard decks underperforming.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"link\": {\n            \"description\": \"Optional path or URL for deeper reference.\",\n            \"examples\": [\n              \"experiments/discard_meta/week31.md\"\n            ],\n            \"type\": \"string\"\n          },\n          \"sourceId\": {\n            \"description\": \"Unique identifier for the source.\",\n            \"examples\": [\n              \"joker-banner\"\n            ],\n            \"type\": \"string\"\n          },\n          \"type\": {\n            \"description\": \"Category of the source such as joker, research, or anecdote.\",\n            \"examples\": [\n              \"joker\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"description\",\n          \"sourceId\",\n          \"type\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    },\n    \"openQuestions\": {\n      \"default\": [],\n      \"description\": \"Clarifications or decisions required before moving forward.\",\n      \"examples\": [\n        [\n          \"Confirm if endless scaling is allowed for discard archetypes.\"\n        ]\n      ],\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"type\": \"array\"\n    }\n  },\n  \"required\": [\n    \"divergentAxes\",\n    \"ideaSeeds\",\n    \"ideationSummary\",\n    \"inspirationSources\",\n    \"openQuestions\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        976,
        288
      ],
      "id": "70c53a63-7739-4cc8-9644-4d68cdd93003",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {
          "reasoningEffort": "medium",
          "timeout": 300000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        832,
        288
      ],
      "id": "1623b61b-e5cc-4966-9edd-d1dc823a530b",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "1lkBcOr7FVmY5bn6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Generates divergent Balatro joker concept seeds for early-stage design briefs.",
        "text": "=You generate Balatro joker concept seeds for early ideation.\nStudy the lead designer brief and capture core fantasy, constraints, and banned elements.\nConsult co_game_designer_agent_specs/all_jokers.md to avoid clones and cite nearest comparables.\nProduce 3-5 ideaSeeds with ideaId, title, conceptPitch, noveltyHook, targetRarity, expectedPlaystyle, handoffNotes.\nList primaryMechanics, referenceJokers, and riskFlags arrays for each seed; use [] when empty.\nSummarize divergentAxes to explain how the seeds explore distinct creative directions.\nDocument inspirationSources with sourceId, type, description, and optional link entries.\nState an ideationSummary plus openQuestions that unblock downstream agents.\nReturn a single JSON object per schemas/creativity_generator_agent.json. Do not add commentary or fences.\n\nUser request:\n{{ $fromAI('Prompt__User_Message_', ``, 'string') }}\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        832,
        80
      ],
      "id": "05b71f6a-7ed1-4423-ae03-a2bb0bc62589",
      "name": "creativity_generator_agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"Design Conflict Verifier Agent Output\",\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"blockedItems\": {\n      \"default\": [],\n      \"description\": \"Identifiers for concepts or spec elements that cannot advance without changes.\",\n      \"examples\": [\n        [\n          \"IDEA-01\",\n          \"jokerSpec\"\n        ]\n      ],\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"type\": \"array\"\n    },\n    \"conflictFindings\": {\n      \"default\": [],\n      \"description\": \"Detailed conflicts discovered during verification.\",\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"conflictType\": {\n            \"description\": \"Category of the conflict encountered.\",\n            \"enum\": [\n              \"rules\",\n              \"economy\",\n              \"balance\",\n              \"ux\",\n              \"technical\"\n            ],\n            \"examples\": [\n              \"rules\"\n            ],\n            \"type\": \"string\"\n          },\n          \"description\": {\n            \"description\": \"Narrative explanation of the conflict.\",\n            \"examples\": [\n              \"Effect duplicates Banner and stacks with Gros Michel for runaway discards.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"findingId\": {\n            \"description\": \"Stable identifier for the finding.\",\n            \"examples\": [\n              \"conflict-rules-01\"\n            ],\n            \"type\": \"string\"\n          },\n          \"impactedSystems\": {\n            \"default\": [],\n            \"description\": \"Systems or mechanics affected by the issue.\",\n            \"examples\": [\n              [\n                \"discard economy\",\n                \"boss blind scaling\"\n              ]\n            ],\n            \"items\": {\n              \"type\": \"string\"\n            },\n            \"type\": \"array\"\n          },\n          \"resolutionRecommendation\": {\n            \"description\": \"Proposed mitigation or follow-up action.\",\n            \"examples\": [\n              \"Limit discard bonus to once per blind or move to legendary rarity.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"severity\": {\n            \"description\": \"Relative severity of the conflict.\",\n            \"enum\": [\n              \"low\",\n              \"medium\",\n              \"high\"\n            ],\n            \"examples\": [\n              \"high\"\n            ],\n            \"type\": \"string\"\n          },\n          \"status\": {\n            \"description\": \"Current disposition of the finding.\",\n            \"enum\": [\n              \"blocked\",\n              \"mitigated\",\n              \"monitor\"\n            ],\n            \"examples\": [\n              \"blocked\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"conflictType\",\n          \"description\",\n          \"findingId\",\n          \"impactedSystems\",\n          \"resolutionRecommendation\",\n          \"severity\",\n          \"status\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    },\n    \"policyChecklist\": {\n      \"default\": [],\n      \"description\": \"Standard checks covering rules, economy, rarity, and UX guarantees.\",\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"checkId\": {\n            \"description\": \"Identifier for the checklist item.\",\n            \"examples\": [\n              \"score-math\"\n            ],\n            \"type\": \"string\"\n          },\n          \"description\": {\n            \"description\": \"What the checklist item validates.\",\n            \"examples\": [\n              \"Score multipliers stay within ante 8 caps.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"notes\": {\n            \"description\": \"Supporting evidence or reasoning for the status.\",\n            \"examples\": [\n              \"Simulator confirms multiplier stays under 25 at ante 6.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"status\": {\n            \"description\": \"Outcome of the checklist evaluation.\",\n            \"enum\": [\n              \"pass\",\n              \"fail\",\n              \"attention\"\n            ],\n            \"examples\": [\n              \"attention\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"checkId\",\n          \"description\",\n          \"notes\",\n          \"status\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    },\n    \"validatedAspects\": {\n      \"default\": [],\n      \"description\": \"Elements of the design confirmed safe to advance.\",\n      \"examples\": [\n        [\n          {\n            \"aspectId\": \"economy-price\",\n            \"description\": \"Shop price aligns with rarity benchmarks.\",\n            \"notes\": \"Matches rare joker baseline plus 2 for scaling risk.\"\n          }\n        ]\n      ],\n      \"items\": {\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"aspectId\": {\n            \"description\": \"Identifier for the validated aspect.\",\n            \"examples\": [\n              \"economy-price\"\n            ],\n            \"type\": \"string\"\n          },\n          \"description\": {\n            \"description\": \"Summary of what passed verification.\",\n            \"examples\": [\n              \"Effect respects discard limit per blind.\"\n            ],\n            \"type\": \"string\"\n          },\n          \"notes\": {\n            \"description\": \"Supporting rationale or evidence.\",\n            \"examples\": [\n              \"Synergy sim shows no infinite loop when paired with Banner.\"\n            ],\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"aspectId\",\n          \"description\",\n          \"notes\"\n        ],\n        \"type\": \"object\"\n      },\n      \"type\": \"array\"\n    },\n    \"validationNotes\": {\n      \"default\": [],\n      \"description\": \"Additional context or references gathered during verification.\",\n      \"examples\": [\n        [\n          \"Cross-checked against Joker #22 Banner for discard overlap.\"\n        ]\n      ],\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"type\": \"array\"\n    },\n    \"verificationSummary\": {\n      \"description\": \"Top-level verdict on whether the design may proceed.\",\n      \"examples\": [\n        \"Blocked pending rarity increase and discard trigger cap.\"\n      ],\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"blockedItems\",\n    \"conflictFindings\",\n    \"policyChecklist\",\n    \"validatedAspects\",\n    \"validationNotes\",\n    \"verificationSummary\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1984,
        288
      ],
      "id": "dbffa5ba-ec52-4962-b048-7a9f27eaeef7",
      "name": "Structured Output Parser5"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {
          "reasoningEffort": "high",
          "timeout": 300000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1840,
        288
      ],
      "id": "19855459-df1f-4b01-a0f5-bf2f744bc321",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "1lkBcOr7FVmY5bn6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Validates joker designs against Balatro rules, existing jokers, and economy safeguards.",
        "text": "=You verify Balatro joker designs for conflicts with core rules and existing mechanics.\nReview the orchestrator dossier plus synergy and simulator evidence when provided.\nConsult co_game_designer_agent_specs/all_jokers.md to flag duplicates or oppressive overlaps.\nSummarize an overall verificationSummary and capture supporting validationNotes as needed.\nPopulate policyChecklist entries with checkId, description, status, and notes; statuses are pass, fail, or attention.\nList conflictFindings with findingId, conflictType, description, impactedSystems, and severity details.\nInclude a resolutionRecommendation and status for every conflictFinding.\nRecord blockedItems referencing ideaId or jokerSpec identifiers that cannot proceed.\nList validatedAspects that remain safe to advance.\nReturn a single JSON object per schemas/design_conflict_verifier_agent.json. No commentary or fences.\n\nUser request:\n{{ $fromAI('Prompt__User_Message_', ``, 'string') }}\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1840,
        80
      ],
      "id": "eeacb807-e0c9-453b-8946-21bbac0fbcf6",
      "name": "design_conflict_verifier_agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "joker_synergy_specialist_agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "joker_synergy_specialist_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "joker_synergy_specialist_agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "run_balance_simulator_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "run_balance_simulator_agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "run_balance_simulator_agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "creativity_generator_agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "creativity_generator_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "creativity_generator_agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "design_conflict_verifier_agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "design_conflict_verifier_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "design_conflict_verifier_agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3d6b1665-0714-47cc-8ece-b02bc6e9e133",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d5d9170e32fb6d69210f48d56786d762236eefabfcbee76ba1ba6fdab2d8c102"
  },
  "id": "04jxiWVQXJocxEVU",
  "tags": []
}
